﻿@model GameStore.ViewModels.ViewModels.Publisher.PublishersListViewModel

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">@Resources.Resource.CompanyName</th> 
                <th class="text-left">@Resources.Resource.HomePage</th> 
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var publisher in Model.Publishers)
            {
                <tr>
                    <td class="text-left">@publisher.CompanyName</td> 
                    <td class="text-left" style="max-width: 150px;overflow: hidden">@publisher.HomePage</td>
                    <td class="text-left">@Html.ActionLink(Resources.Resource.Update, "Update", "Publisher", new { companyName = publisher.CompanyName } , null)</td>  
                    <td> <a href="@Url.Action("Delete", "Publisher", new {companyName = publisher.CompanyName})" onclick="return confirm('Are you sure you wish to delete this Publisher?')" class="icons glyphicon glyphicon-remove"></a></td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink(Resources.Resource.Create, "New", "Publisher")
</main>
