﻿@model GameStore.ViewModels.ViewModels.Publisher.PublisherViewModel

@{                     
    ViewBag.Title = "New";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("New", "Publisher", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.Label(Resources.Resource.CompanyName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CompanyName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label(Resources.Resource.Description, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>   
        
        <div class="form-group">
            @Html.Label(Resources.Resource.DescriptionEng, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DescriptionEnglish, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                @Html.ValidationMessageFor(model => model.DescriptionEnglish, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(Resources.Resource.HomePage, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.HomePage, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.Resource.Create class="btn btn-default"/>
            </div>
        </div>
    </div>
}