﻿@model GameStore.ViewModels.ViewModels.AdminPanel.AdminPanelHomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Id</th>
                <th class="text-left">@Resources.Resource.Email</th>
                <th class="text-left">@Resources.Resource.FirstName</th>  
                <th class="text-left">@Resources.Resource.LastName</th>
                <th class="text-left">@Resources.Resource.Phone</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td class="text-left">@user.Id</td>
                    <td class="text-left">@user.Email</td>  
                    <td class="text-left">@user.FirstName</td>
                    <td class="text-left">@user.LastName</td>
                    <td class="text-left">@user.Phone</td>    
                    <td><button type="button" class="deluser btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-id ="@user.Email">@Resources.Resource.DeleteUser</button></td>
                    <td>@Html.ActionLink(Resources.Resource.Update, "Update", "User", new { email = user.Email } , null)</td>
                    <td>@Html.ActionLink(Resources.Resource.Ban, "BanUser", "User", new { email = user.Email }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</main> 

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this user?</p>
                <p id="resultuser"></p>
            </div>  
            <div class="modal-footer">
                <a href="" class="userdelete">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>