﻿@using Resources
@model GameStore.ViewModels.ViewModels.Publisher.PublisherViewModel


@{
    ViewBag.Title = "Details";
}


<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

            <div class="panel panel-default">

                <div class="panel-heading resume-heading">

                    <div class="row">

                        <div class="col-lg-12">

                            <div class="col-xs-12 col-sm-6">

                                <figure>

                                    <img src="~/Content/File/gray.png" class="img-fluid imgres" alt="Game">

                                </figure>

                            </div>

                            <div class="col-xs-12 col-sm-6">

                                <ul class="list-group">

                                    <li class="list-group-item">@Html.DisplayName(Resource.CompanyName) : @Html.DisplayFor(model => model.CompanyName)</li>

                                    <li class="list-group-item">@Html.DisplayName(Resource.Description) : @Html.DisplayFor(model => model.Description)</li>

                                    <li class="list-group-item">@Html.DisplayName(Resource.HomePage) : @Html.DisplayFor(model => model.HomePage) </li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="bs-callout bs-callout-danger">

                    <h4>@Resource.Games</h4>

                    @foreach (var item in Model.Games)
                    {
                        @item.Name
                    }
                </div>

            </div>

        </div>

        <div class="col-lg-2"></div>

    </div>

</div>