﻿@using System.Threading.Tasks
@using TaskManager.Core.Enums
@using TaskManager.WEB.ViewModels.CommentViewModels
@using TaskManager.WEB.ViewModels.TicketViewModels
@model TicketDetailsViewModel
@inject TaskManager.Auth.Interfaces.IAccountManager AccountManager


<!--Status dropdown-->
<div class="dropup div-inline">
    <button class="btn btn-default dropdown-toggle manage-block-button btn-block" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change status
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a asp-action="EditStatus" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id" asp-route-status="@Status.Open">Open</a></li>
        <li><a asp-action="EditStatus" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id" asp-route-status="@Status.InProgress">InProgress</a></li>
        <li><a asp-action="EditStatus" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id" asp-route-status="@Status.Done">Done</a></li>
    </ul>
</div>

<!--Assignees dropdown-->
<div class="dropdown div-inline">
    <button class="btn btn-default dropdown-toggle manage-block-button btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Assign<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @if (Model.Ticket.Assignee != null && Model.Ticket.Assignee.Id != Guid.Empty)
        {
            <li>
                <a asp-action="Unassign" asp-controller="Ticket" asp-route-ticketId="@Model.Ticket.Id">
                    Unassign
                </a>
            </li>
            <li role="separator" class="divider"></li>
        }
        @if (AccountManager.IsSignedIn(User))
        {
            <li>
                <a asp-action="Assign" asp-controller="Ticket" asp-route-ticketId="@Model.Ticket.Id" asp-route-userId="@AccountManager.GetUserId(User)">Assign to me</a>
            </li>
            <li role="separator" class="divider"></li>
        }
        @foreach (var assignee in Model.Assignees.Where(model => AccountManager.IsSignedIn(User) && model.Id != AccountManager.GetUserId(User)))
        {
            <li>
                <a asp-action="Assign" asp-controller="Ticket" asp-route-ticketId="@Model.Ticket.Id" asp-route-userId="@assignee.Id">@assignee.FullName</a>
            </li>
        }
    </ul>
</div>

<!--Link with dropdown-->
<div class="dropdown div-inline">
    <button class="btn btn-default dropdown-toggle manage-block-button btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Link with<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @foreach (var ticket in Model.UnlinkedTickets)
        {
            <li>
                <a asp-action="LinkTickets" asp-controller="TicketLink" asp-route-sourceTicket="@Model.Ticket.Id" asp-route-destinationTicket="@ticket.Id">
                    @ticket.Name
                </a>
            </li>
        }
    </ul>
</div>

<!--Watchers button-->
@if (AccountManager.IsSignedIn(User))
{
    if (Model.Ticket.Watchers.Any(watcher => watcher.Id == AccountManager.GetUserId(User)))
    {
        <a href="@Url.Action("Unwatch", "Ticket", new {ticketId = Model.Ticket.Id, userId = AccountManager.GetUserId(User)})" class="btn btn-default col-md-2 manage-block-button btn-block pull-left">
            Unwatch
        </a>
    }
    else
    {
        <a href="@Url.Action("Watch", "Ticket", new {ticketId = Model.Ticket.Id, userId = AccountManager.GetUserId(User)})" class="btn btn-default col-md-2 manage-block-button btn-block pull-left">
            Watch
        </a>
    }
}

@Html.Partial("ModalView", Model.Ticket)
@Html.Partial("~/Views/Partials/Comment/_Add.cshtml", new CommentViewModel { TicketId = Model.Ticket.Id })
