﻿@using System.Threading.Tasks
@using TaskManager.Core.Enums
@using TaskManager.WEB.ViewModels.TicketViewModels
@model TicketPartialViewModel

@{
    var statusClass = "panel-success";

    switch (Model.Ticket.Priority)
    {
        case Priority.High:
            statusClass = "panel-warning";
            break;
        case Priority.Critical:
            statusClass = "panel-danger";
            break;
        case Priority.Low:
            statusClass = "panel-info";
            break;
    }
}
<div class="panel @statusClass">
    <div class="panel-heading">
        <span>@Model.Ticket.Name</span>
        <a asp-action="GetTicket" asp-controller="Ticket" asp-route-ticketId="@Model.Ticket.Id">
            <span class="glyphicon glyphicon-option-horizontal pull-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="panel-body">
        @Model.Ticket.Text
    </div>
    <div class="panel-footer">
        @{ var assignee = Model.Ticket.Assignee.FullName ?? "Not assigned"; }
        <span>@assignee</span>

        @if (Model.Board != null)
        {
            if (Model.Ticket.Status != Status.Done)
            {
                var rightArrowStatus = Model.Ticket.Status == Status.InProgress ? Status.Done : Status.InProgress;

                <a asp-action="EditStatus" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id" asp-route-status="@rightArrowStatus">
                    <span class="glyphicon glyphicon-arrow-right pull-right status-icon" aria-hidden="true"></span>
                </a>
            }

            if (Model.Ticket.Status != Status.Open)
            {
                var leftArrowStatus = Model.Ticket.Status == Status.InProgress ? Status.Open : Status.InProgress;

                <a asp-action="EditStatus" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id" asp-route-status="@leftArrowStatus">
                    <span class="glyphicon glyphicon-arrow-left pull-right status-icon" aria-hidden="true"></span>
                </a>
            }
        }

    </div>
</div>