﻿@model InternetProvider.ViewModels.LogInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="/Content/LogIn.css" rel="stylesheet">
    <title>LogIn</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        @using (Html.BeginForm("Index", "AdminPanel", FormMethod.Post, new {@class = "login-form"}))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(model => model.Email, new {placeholder = "Email...", required = "required", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"})

            @Html.PasswordFor(model => model.Password, new {placeholder = "Password...", required = "required"})


            <button type="submit">login</button>
        }
        @ViewBag.Error
    </div>
</div>
</body>
</html>