﻿@using System.Threading.Tasks
@using TaskManager.Core.Enums
@using TaskManager.WEB.ViewModels.BackLogViewModels
@model BackLogViewModel

<div class="container">
    <div class="col-lg-3">
        <h3 class="text-center">Sort by:</h3>
        <form asp-controller="Backlog" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get" class="form-horizontal" id="filter-form">
            <input type="hidden" name="Page" id="page">

            <div>
                <ul class="list-group">
                    <li class="list-group-item text-center">Date</li>
                    <li class="list-group-item">
                        <div class="input-group" data-provide="datepicker">
                            <input type="text" placeholder="From" class="form-control" data-datepicker data-date-input="true" asp-for="DateFrom">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="input-group" placeholder="To" data-provide="datepicker">
                            <input type="text" placeholder="To" class="form-control" data-datepicker data-date-input="true" asp-for="DateTo">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </li>
                </ul>



                <ul class="list-group">
                    <li class="list-group-item text-center">Status</li>
                    @foreach (Status status in Enum.GetValues(typeof(Status)))
                    {
                        <li class="list-group-item">
                            @{ Model.Status = status;}
                            @if (Model.CheckIfStatusExistsIn)
                            {
                                <input type="checkbox" name="SelectedStatuses" value="@status" checked="checked" id="status-@status" />
                                <label for="status-@status">@status</label>
                            }
                            else
                            {
                                <input type="checkbox" name="SelectedStatuses" value="@status" id="status-@status" />
                                <label for="status-@status">@status</label>
                            }
                        </li>
                    }
                </ul>

                <ul class="list-group">
                    <li class="list-group-item text-center">Priority</li>
                    @foreach (Priority priority in Enum.GetValues(typeof(Priority)))
                    {
                        <li class="list-group-item">
                            @{ Model.Priority = priority;}
                            @if (Model.CheckIfPriorityExistsIn)
                            {
                                <input type="checkbox" name="SelectedPriorities" value="@priority" checked="checked" id="priority-@priority"/>
                                <label for="priority-@priority">@priority</label>
                            }
                            else
                            {
                                <input type="checkbox" name="SelectedPriorities" value="@priority" id="priority-@priority"/>
                                <label for="priority-@priority">@priority</label>
                            }
                        </li>
                    }
                </ul>

                <input type="submit" class="btn btn-lg btn-default btn-block col-xs-12" id="subbutton" value="Filter">
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h3 class="text-center">Result</h3>
        @if (!Model.Tickets.Any())
        {
            <p>Tickets not found</p>
        }
        else
        {
            @Html.Partial("~/Views/Partials/Backlog/_FilterTable.cshtml", Model.Tickets)
            <div class="text-center">@Html.Partial("~/Views/Partials/Backlog/_PaginationPartial.cshtml", Model.PageViewModel)</div>
        }
    </div>
</div>

@section scripts {
    <environment names="Development">
        <script src="~/js/statistic-search.js"></script>
        <script src="~/js/pagination.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/statistic-search.min.js"></script>
        <script src="~/js/pagination.min.js"></script>
    </environment>
}



