﻿@model InternetProvider.ViewModels.UpdateUserViewModel
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @ViewBag.Message
            @using (Html.BeginForm("SaveNewData", "PersonalCabinet", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <fieldset>
                    <legend>Update Your Data</legend>
                    <div class="row">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="col-md-4 control-label">First Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.FirstName, new {placeholder = "FirstName...", required = "required", @class = "form-control input-md"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">LastName</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.LastName, new {placeholder = "LastName...", required = "required", @class = "form-control input-md"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Adress</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Adress, new {placeholder = "Adress...", required = "required", @class = "form-control input-md"})
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Phone, new {placeholder = "Phone...", required = "required", @class = "form-control input-md"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Email, new {placeholder = "Email...", required = "required", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", @class = "form-control input-md"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date Of Birthday</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.DateOfBirthday, "{0:M/d/yyyy}", new {id = "datepick", name = "datebirth", placeholder = "Birth Date..", @class = "form-control input-md", required = "required", type = "text", value = Model.DateOfBirthday})
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Save</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>