﻿@model InternetProvider.ViewModels.PersonalCabinetViewModel
<div class="table-title">
    <h2>Personal information</h2>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left"></th>
        <th class="text-left">Information</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr>
        <td class="text-left">№ Account</td>
        <td class="text-left">@Model.Account.Id</td>
    </tr>
    <tr>
        <td class="text-left">Balance</td>
        <td class="text-left">@Model.Account.Money</td>
    </tr>
    <tr>
        <td class="text-left">FIO</td>
        <td class="text-left">@Model.FirstName @Model.LastName</td>
    </tr>
    <tr>
        <td class="text-left">Adress</td>
        <td class="text-left">@Model.Adress</td>
    </tr>
    <tr>
        <td class="text-left">Phone</td>
        <td class="text-left">@Model.Phone</td>
    </tr>
    <tr>
        <td class="text-left">Replenish</td>
        <td class="text-left">@Html.ActionLink("Replenish", "Index", "Payment", null, new {@class = "submit margright"})</td>
    </tr>
    </tbody>
</table>

<div class="table-title">
    <h2>Connected rates</h2>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-center">Rate</th>
        <th class="text-center">Price</th>
        <th class="text-center">Status</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    @foreach (var item in Model.Account.Rates)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @if (Model.Account.Applications.Where(x => x.RateId == item.Id).Select(y => y.Status).FirstOrDefault() != "Done")
                {
                    <span> @Html.ActionLink("ConnectToRate", "Send", "PersonalCabinet", new {id = item.Id}, new {@class = "but"})</span>

                    <span>
                        @Html.ActionLink("DeleteRate", "DeleteRate", "PersonalCabinet", new {id = item.Id}, null)
                    </span>
                }
                else
                {
                    <span>Active</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="table-title">
    <h2>Connected Additional Features</h2>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Price</th>
        <th class="text-center">Status</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    @foreach (var item in Model.Account.AdditionalFeatures)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                <span> @Html.ActionLink("Buy", "ApplicationAdditionalFeatures", "PersonalCabinet", new {id = item.Id}, new {@class = "but"})</span>

                <span>
                        @Html.ActionLink("Delete", "DeleteAdditional", "PersonalCabinet", new {id = item.Id}, null)
                    </span>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title center">Confirm</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".but")
                .click(function(e) {

                    e.preventDefault();
                    $.get(this.href,
                        function(data) {
                            $('.modal-body').html(data);
                            $('#myModal').modal('show');
                        });
                });
        })
    </script>
}