﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>InternetProvider</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/site.css")
    @Scripts.Render("~/scripts/jquery-3.1.0.min.js")
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.0.js")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Scripts.Render("~/Scripts/datepicker.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    <link rel="stylesheet" type="text/css" href="/Content/animate.css"/>
    <script src="/Scripts/jquery.viewportchecker.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Habibi" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cinzel+Decorative:900" rel="stylesheet" type="text/css">
    <link href="/Content/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" language="javascript">
        $.validator.unobtrusive.adapters.addBool("mandatory", "required");
    </script>
    <script type="text/javascript">
        $(document)
            .ready(function() {

                $(window)
                    .scroll(function() {
                        if ($(this).scrollTop() > 100) {
                            $('.scrollup').fadeIn();
                        } else {
                            $('.scrollup').fadeOut();
                        }
                    });

                $('.scrollup')
                    .click(function() {
                        $("html, body").animate({ scrollTop: 0 }, 600);
                        return false;
                    });

            });
    </script>
</head>
<body>

<div id="header" class="container">
    <div class="row">
        <div class="logo">
            <a href="/" title="">
                <h2>ApexHome</h2>
            </a>
        </div>
        @Html.Partial("_LoginPartial")
        <div class="col-md-12">
            <img src="~/Images/phone3.png"/>
        </div>
        <div class="clear"></div>
        <nav id="nav" role="navigation">
            <a href="#nav" title="Show navigation">Show navigation</a> <a href="#" title="Hide navigation">Hide navigation</a>
            <ul class="clearfix">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>
                    <a href="">
                        <span>Rates</span></a>
                    <ul>
                        @{
                            Html.RenderAction("Index", "ServicesMenu");
                        }
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Map")">Coverage</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "AdditionalServices")">Services</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "ContactInformation")">Contact</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Payment")">Payment</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div>
    @RenderBody()
    <a href="#" class="scrollup"></a>
</div>
<footer class="footer-distributed">
    <div class="footer-left">
        <p class="footer-links">
            <a href="@Url.Action("Index", "Home")">Home</a>
            ·
            <a href="@Url.Action("Index", "Services")">Services</a>
            ·
            <a href="@Url.Action("Index", "News")">News</a>
            ·
            <a href="@Url.Action("Index", "ContactInformation")">Contact</a>
            ·
            <a href="@Url.Action("Index", "Rates", new {Id = 1})">Rates</a>
            ·
            <a href="@Url.Action("Index", "Coverage")">Coverage</a>
            ·
            <a href="@Url.Action("Index", "Rates", new {Id = 1})">Internet</a>
            ·
            <a href="@Url.Action("Index", "Rates", new {Id = 2})">Phone</a>
            ·
            <a href="@Url.Action("Index", "Rates", new {Id = 4})">IPTV</a>
            ·
            <a href="@Url.Action("Index", "Rates", new {Id = 3})">KTV</a>
        </p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>
                <span>80 Revolution Street</span> Kharkiv, Ukraine
            </p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+38 050 9837001</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p>
                <a href="mailto:apexHome@gmail.com">ApexHome@gmail.com</a>
            </p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            ApexHome - The largest Internet provider northeastern Ukraine. One of the largest suppliers of online resources in Europe.
        </p>
    </div>
</footer>
<div id="footer">
    <div class="container">
        <div class="row">
            <div id="copyright" class="col-md-12">
                <p>Copyright 2016 ApexHome. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
</body>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Scripts/AgreeScript.js")
@RenderSection("scripts", false)
</html>