﻿@if (Request.IsAuthenticated)
{
    <div class="col-md-8">
        <div class="navbar navbar-inverse" role="banner">
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @User.Identity.Name <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInUp">
                            <li>@Html.ActionLink("My profile", "Index", "PersonalCabinet")</li>
                            <li>@Html.ActionLink("Edit", "Edit", "PersonalCabinet")</li>
                            <li>
                                @using (Html.BeginForm("LogOff", "LogIn", FormMethod.Post, new {id = "logoutForm"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                }
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
}
else
{
    @Html.ActionLink("Registration", "Index", "Registration", null, new {@class = "submit"})
    @Html.ActionLink("LogIn", "Index", "LogIn", null, new {@class = "submit"})
}