﻿@model InternetProvider.BusinessObjects.Advantage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blokk">
    <article class="clearfix">
        <a>
            @foreach (var item in Model.Picture)
            {
                <img src="@Url.Content(item.PicturePath)" alt="img"/>
            }
        </a>
        <h4 class="title-bg">
            @Model.Name
        </h4>
        <p>@Model.Text</p>
    </article>
</div>