﻿@model InternetProvider.ViewModels.RegistrationViewModel
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="form-top">
            <div class="form-top-left disp">
                <h3>Please,enter your data</h3>
            </div>
        </div>
        <div class="form-bottom">
            @using (Html.BeginForm("RegisterComplited", "Registration", FormMethod.Post))
            {
                @ViewBag.Error
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.RegistrationTime)
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.FirstName, new {name = "first_name", id = "first_name", @class = "form-control input-lg", placeholder = "First Name", tabindex = "1", required = "required"})
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.LastName, new {name = "last_name", id = "last_name", @class = "form-control input-lg", placeholder = "Last Name", tabindex = "2", required = "required"})
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Email, new {name = "last_name", id = "last_name", @class = "form-control input-lg", placeholder = "Email", tabindex = "3", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required = "required", type = "email"})
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new {required = "required", @class = "form-control input-lg", placeholder = "Password...", tabindex = "5"})
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new {required = "required", @class = "form-control input-lg", placeholder = "Confirm Password...", tabindex = "6"})
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Phone, new {name = "phone", id = "phone", @class = "form-control input-lg", placeholder = "Phone...", tabindex = "7", required = "required"})
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.DateOfBirthday, new {required = "required", type = "text", placeholder = "Birth Date...", id = "datepick", tabindex = "8", @class = "form-control input-lg", @readonly = "readonly"})
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Adress, new {name = "adress", id = "adress", @class = "form-control input-lg", placeholder = "Adress...", tabindex = "9", required = "required"})
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info" tabindex="10">I Agree</button>
                            @Html.CheckBoxFor(model => model.IsTermsAccepted, new {name = "t_and_c", id = "t_and_c", @class = "hidden"})
                        </span>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="@Url.Action("Index", "Terms")">Terms and Conditions</a> set out by this site, including our Cookie Use.
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="submit" value="Register" class="styled-button-1 btn-margin" tabindex="11">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('datepick').value = null;
</script>