﻿@model InternetProvider.ViewModels.AdditionalFeatureViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("Create", "AdditionalFeatures", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Update Data</legend>
                    <div class="row">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Name, new {placeholder = "Name...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Price</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Price, new {placeholder = "Price...", @class = "form-control input-md", required = "required", min = "1"})
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Update</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>