﻿@using Resources
@model GameStore.ViewModels.ViewModels.Game.GamePublisherViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading resume-heading">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-xs-12 col-sm-6">
                                <figure>
                                    <img src="@Url.Action("ReturnFile", new { key = Model.Game.Key})" class="img-fluid imgres" alt="Game">
                                </figure>
                                <input type="hidden" value="@Model.Game.Key" name="Game" id="Game"/>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <ul class="list-group">
                                    <li class="list-group-item">@Html.DisplayName(Resource.NameGame) : @Html.DisplayFor(model => model.Game.Name)</li>
                                    <li class="list-group-item">@Html.DisplayName(Resource.Key) : @Html.DisplayFor(model => model.Game.Key)</li>
                                    <li class="list-group-item">@Html.DisplayName(Resource.Price) : @Html.DisplayFor(model => model.Game.Price) </li>
                                    <li class="list-group-item">@Html.DisplayName(Resource.UnitInStock) : @Html.DisplayFor(model => model.Game.UnitsInStock) </li>
                                    <li class="list-group-item">
                                        Status:
                                        @if (Model.Game.IsDeleted)
                                        {
                                            @Resource.DeletedGame
                                        }
                                        else
                                        {
                                            <text>Active</text>
                                        }
                                    </li>
                                    <li class="list-group-item">
                                        @if (!Model.Game.IsDeleted)
                                        {
                                            <span>@Html.ActionLink(Resource.Buy, "Buy", "Game", new {key = Model.Game.Key}, new {@class = "btn btn-success"})</span>
                                            <span>@Html.ActionLink("Download", "Download", "Game", new {key = Model.Game.Key}, new {@class = "btn btn-warning"})</span>
                                            <input type="hidden" value="@Model.Game.Key" id="gameKey"/>
                                            <span> <a href="#" id="getcomments" class="btn btn-info">Comments</a></span>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>@Html.DisplayName(Resource.Description)</h4>
                    <p>
                        @Html.DisplayFor(model => model.Game.Description)
                    </p>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>@Resource.PublisherName</h4>
                    @if (Model.Names != null)
                    {
                        foreach (var name in Model.Names)
                        {
                            <p>@Html.ActionLink(name, "Details", "Publisher", new {companyName = name}, new {target = "_blank"})</p>
                        }
                    }
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>@Resource.Genres</h4>
                    @foreach (var item in Model.Game.Genres)
                    {
                        @item.Name
                    }
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>@Resource.PlatformTypes</h4>
                    @foreach (var item in Model.Game.PlatformTypes)
                    {
                        @item.Type
                    }
                </div>
            </div>

            <div>
                <p class="index-text" id="noComments"></p>
            </div> 

            <div id="commentsRen" class="commentsRen"></div> 
            
            <template id="commentrow">
                <div class="panel panel-white post panel-shadow" id="post">
                    <div class="post-heading">
                        <div class="pull-left image">
                            <img class="img-circle avatar" src="/Content/File/user_1.jpg">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a href="#" id="userName"></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-description">
                        <p id="QuoteId" class="quoteclass" style="display: none"></p>
                        <p id="commentBody"></p>
                        <input type="hidden" value="" id="showCommentId">
                        <input type="hidden" value="" id="showGameId">
                        <div class="stats">
                            <a class="btn btn-info stat-item" data-type="quote" id="quoteLink">Quote</a>
                            <a class="btn btn-warning stat-item" data-type="answerLink" id="answerLink">Answer</a>
                        </div>
                    </div>
                </div>
            </template> 

            <div class="tab-pane" id="add-comment" style="display: none">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "commentFormPost" }))
                {
                    <input type="hidden" value="@Model.Game.Key" name="GameKey" id="GameKey" />
                    <input type="hidden" name="ParentCommentId" id="ParentCommentId" />
                    <input type="hidden" value="@Model.Game.Id" name="GameId" id="GameId" />
                    <input type="hidden" id="Quote" name="Quote" />

                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Resource.EnterEmail:</label>
                        <div class="col-sm-10">
                            <div class="input-group">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <input name="Name" id="Name" value=@User.Identity.Name class="form-control" required="required" />
                                }
                                else
                                {
                                    <input name="Name" id="Name" class="form-control" required="required" placeholder="Your email..." />
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10">
                            <textarea name="Body" id="Body" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Submit comment</button>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-lg-2"></div>

    </div>
</div>
