﻿@using GameStore.Extensions.Enums
@using Resources
@model GameStore.ViewModels.ViewModels.Game.GamesListViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid shadowmenu" id="contentbg">
    <div class="row">
        <div class="col-lg-2 col-md-1 col-sm-1 smallphone"></div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 shadowleft">
            @using (Html.BeginForm("Index", "Game", FormMethod.Get, new {id = "filterForm"}))
            {
                <input type="hidden" name="ElementsPerPage" id="ElementsPerPage">
                <input type="hidden" name="Page" id="page">

                <ul id="accordion" class="accordion">
                    <li>
                        <div class="link">
                            @Resource.Genres<i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            @for (var i = 0; i < Model.Genres.Count; i++)
                            {
                                <li>
                                    <input type="checkbox" name="Genres" id="Genres" value="@Model.Genres[i].Name">
                                    <span> @Html.DisplayTextFor(x => x.Genres[i].Name)</span>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            @Resource.PlatformTypes<i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            @for (var i = 0; i < Model.PlatformTypes.Count; i++)
                            {
                                <li>
                                    <input type="checkbox" name="PlatformTypes" id="PlatformTypes" value="@Model.PlatformTypes[i].Type">
                                    <span>   @Html.DisplayTextFor(x => x.PlatformTypes[i].Type)  </span>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            @Resource.Publishers<i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            @for (var i = 0; i < Model.Publishers.Count; i++)
                            {
                                <li>
                                    <input type="checkbox" name="Publishers" id="Publishers" value="@Model.Publishers[i].CompanyName">
                                    <span>   @Html.DisplayTextFor(x => x.Publishers[i].CompanyName)    </span>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            @Resource.Sorting<i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                @Html.DropDownListFor(model => model.OrderByType, EnumHelper.GetSelectList(typeof(OrderByType)), new {@class = "form-control"})
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            SortByPrice<i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                @Html.Label("Price From:") @Html.TextBoxFor(x => x.PriceFrom)
                                @Html.Label("Price To:") @Html.TextBoxFor(x => x.PriceTo)
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            @Resource.Period<i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                @Html.RadioButtonFor(x => x.SelectedYear, DateSortType.LastWeek) <span>@Resource.LastWeek </span>
                            </li>
                            <li>
                                @Html.RadioButtonFor(x => x.SelectedYear, DateSortType.LastMonth)<span>
                                    @Resource.LastMonth
                                </span>
                            </li>
                            <li>
                                @Html.RadioButtonFor(x => x.SelectedYear, DateSortType.LastYear)<span>
                                    @Resource.LastYear
                                </span>
                            </li>
                            <li>
                                @Html.RadioButtonFor(x => x.SelectedYear, DateSortType.LastTwoYears)<span>
                                    @Resource.LastTwoYears
                                </span>
                            </li>
                            <li>
                                @Html.RadioButtonFor(x => x.SelectedYear, DateSortType.LastThreeYears) <span>@Resource.LastThreeYears</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            @Resource.PartName<i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                @Html.TextBoxFor(x => x.PartOfName)
                            </li>
                        </ul>
                    </li>
                </ul>

                <input type="submit" class="btn btn-lg btn-primary btn-block col-xs-12" id="subbutton" value="@Resource.Filter">
            }
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="dropbox">
                @Html.Label("Items Per Page", new {@class = "textcolor"})
                @Html.DropDownList("ElementsOnThePage", EnumHelper.GetSelectList(typeof(ElementsPerPage)), new {@class = "form-control dropnumber"})
                <div class="btn-group ">
                    <div class="row pagination"></div>
                </div>
            </div>

            <section id="pricing-table">
                <div class="pricing">
                    <div>
                        <p class="index-text" id="noGames"></p>
                    </div> 
                </div>
            </section>

            <template id="productrow">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table ">
                        <div class="pricing-header">
                            <p class="pricing-title">
                                <img src="" class="img-fluid imgres" alt="Game" id="gamePicture">
                            </p>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li class="clip">
                                    @Html.DisplayName(Resource.NameGame) <span></span></li>
                                <li>
                                    @Html.DisplayName(Resource.Price) <span></span></li>
                                <li>
                                    <span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </template>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
</div>