﻿@model GameStore.ViewModels.ViewModels.Order.OrdersHistoryViewModel

@{
    ViewBag.Title = "History";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink(Resources.Resource.Oldorders , "History" , "Order",null,new {@class="linkcenter"})
<div style="max-width: 500px; margin: 0 auto">
    <hr />
    @using (Html.BeginForm("HistoryAction", "Order", FormMethod.Get))
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.Label(Resources.Resource.DateFrom)
            </dt>
            <dd>
                @Html.EditorFor(x => x.DateFrom)
            </dd>
            <dt>
                @Html.Label(Resources.Resource.DateTo)
            </dt>
            <dd>
                @Html.EditorFor(x => x.DateTo)
            </dd>
        </dl>
        <input type="submit" value="@Resources.Resource.Select" />
    }

    <table class="table">
        <tr>
            <th>
                @Html.Label("Id")
            </th>
            <th>
                @Html.Label(Resources.Resource.CustomerId)
            </th>
            <th>
                @Html.Label(Resources.Resource.OrderDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.ActionLink(Resources.Resource.Edit, "Update", "Order", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>
