﻿@using GameStore.Extensions.Enums
@model GameStore.ViewModels.ViewModels.Order.OrderViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update","Order",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(Resources.Resource.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CustomerId,new { @class = "form-control"  , @readonly = "readonly"} )
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(Resources.Resource.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.OrderDate, new { @class = "form-control"  , @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @Html.DropDownList("Status", EnumHelper.GetSelectList(typeof(OrderStatus)), new { @class = "form-control linkcenter" })
         
        <div class="form-group">
           <span class="linkcenter">@Resources.Resource.Orderdetails:</span> 
            
            <table class="table-fill">
                <thead>
                <tr>
                    <th class="text-left">@Resources.Resource.Discount</th>
                    <th class="text-left">@Resources.Resource.ProductId</th>
                    <th class="text-left">@Resources.Resource.Quantity</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                @foreach (var details in Model.OrderDetailses)
                {
                    <tr>
                        <td class="text-left">@details.Discount</td>
                        <td class="text-left">@details.ProductId</td>
                        <td class="text-left">@details.Quantity</td> 
                        <td class="text-left"> @Html.ActionLink(Resources.Resource.DeleteUser, "DeleteOrderDetails", "Order", new { id = details.Id, orderId = details.OrderId }, null) </td> 
                        <td class="text-left"> @Html.ActionLink(Resources.Resource.Update, "UpdateDetails", "Order", new { id = details.Id }, null) </td> 
                    </tr>
                } 
                </tbody>
            </table>  
            <div id="additem">
                @Html.ActionLink("Add New Item", "AddItemToOrder" , "Order",new {id = Model.Id} , new {@class="linkcenter"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Resource.Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}
