﻿@model InternetProvider.ViewModels.CommentsListViewModel
@{
    ViewBag.Title = "CommentsList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@ViewBag.Message
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span> Author</span>
                </div>
                <div class="cell">
                    <span>Time</span>
                </div>
                <div class="cell">
                    <span> Comment</span>
                </div>
            </div>
            @foreach (var item in Model.Comments)
            {
                <div class="row">
                    @Html.HiddenFor(modelItem => item.Id)
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Time)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.UserComm)
                    </div>
                    <div class="cell">
                        <i class=""></i>
                        @Ajax.ActionLink(" ", "Update", "Comment", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "res"}, new {@class = "glyphicon glyphicon-pencil icons"})
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<div id="res"></div>