﻿@using Resources
@model IEnumerable<GameStore.ViewModels.ViewModels.Game.GamesQuantityViewModel>


@{
    ViewBag.Title = "Basket";
}


@if (Model.Count() != 0)
{
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-2"></div>

            <div class="col-lg-8 col-md-8 col-sm-8" id="basket">

                <table id="cart" class="table table-hover table-condensed">

                    <thead>

                    <tr>

                        <th style="width: 20%">@Html.DisplayName(Resource.Key)</th>

                        <th style="width: 20%">@Html.DisplayName(Resource.NameGame)</th>

                        <th style="width: 15%">@Html.DisplayName(Resource.Price)</th>

                        <th style="width: 10%">@Html.DisplayName(Resource.Quantity)</th>

                        <th style="width: 15%"></th>

                    </tr>

                    </thead>

                    <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td data-th="Key">

                                <div class="row">

                                    <div class="col-sm-12">

                                        <h4 class="nomargin">@Html.DisplayFor(modelItem => item.Game.Key)</h4>

                                    </div>

                                </div>

                            </td>

                            <td data-th="Name">@Html.DisplayFor(modelItem => item.Game.Name)</td>

                            <td data-th="Price">

                                @Html.DisplayFor(modelItem => item.Game.Price)
                            </td>

                            <td data-th="Quantity">@Html.DisplayFor(modelItem => item.Quantity)</td>

                            <td class="actions text-center" data-th="">

                                <a href="@Url.Action("Delete", "Basket", new {key = item.Game.Key})" onclick="return confirm('@Resource.AreYouSure')">

                                    <i class="btn btn-danger btn-sm fa fa-trash-o"></i>

                                </a>

                            </td>

                        </tr>
                    }
                    </tbody>

                    <tfoot>

                    <tr class="visible-xs col-xs-12 text-center sumblock">

                        <td>

                            <strong>Total @Model.Last().Sum</strong>

                        </td>

                    </tr>

                    <tr>

                        <td>

                            <a href="Games/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>

                        </td>

                        <td colspan="2" class="hidden-xs"></td>

                        <td class="hidden-xs text-center">

                            <strong>Total @Model.Last().Sum</strong>

                        </td>

                        <td> @Html.ActionLink(Resource.Makeorder, "MakeOrder", "Order", null, new {@class = "btn btn-success btn-block"})</td>

                    </tr>


                    </tfoot>

                </table>

            </div>

            <div class="col-lg-2 col-md-2 col-sm-2"></div>

        </div>

    </div>
}
else
{
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-2"></div>

            <div class="col-lg-8 text-center" id="basket">

                <p class="basketempty">@Resource.Basketempty</p>

                <a href="Games/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>

            </div>

        </div>

    </div>
}