﻿@using Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <meta name="description" content="The description of my page" />
</head>
<body style="background-color: whitesmoke ">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" area ="">GameStore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav nav-pills pull-right">
                    @Html.Action("UserLogin", new { area = "", controller = "Account" })
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle linkcenter" type="button" data-toggle="dropdown">
                        @Resource.ChooseLang
                        <span class="caret"></span>
                    </button>
                    <ul id="localization" class="dropdown-menu">
                        <li id="en"><a class="lang-value" data-type="enLink" href="/en/">English</a></li>
                        <li id="ru"><a class="lang-value" data-type="enLink" href="/ru/">Русский</a></li>
                    </ul>
                </div>
            </div>
            <div id="wrapper">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                        <li>
                            <a href="@Url.Action("Index", "User")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>@Resources.Resource.Users</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Role")"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>@Resources.Resource.Roles</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Game")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>@Resources.Resource.Games</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Genre")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>@Resources.Resource.Genres</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Publisher")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>@Resources.Resource.Publishers</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Comment")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>@Resources.Resource.CommentsList</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Order")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>@Resources.Resource.Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                @RenderBody()
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        </div>
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/customScripts")
@RenderSection("scripts", false)
</body>
</html>
