﻿@using GameStore.Extensions.Enums
@using Resources
@model List<GameStore.ViewModels.ViewModels.Order.OrderDetailsViewModel>


@{
    ViewBag.Title = "MakeOrder";
}


<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

            <div class="panel panel-default">

                <div class="panel-heading resume-heading">

                    <div class="row">

                        <div class="col-lg-12">

                            <div class="col-xs-12 col-sm-12">

                                <h2 class="text-center">Current Order: </h2>

                                <ul class="list-group">

                                    @foreach (var item in Model)
                                    {
                                        <li class="list-group-item">@Resource.OrderId : @item.OrderId </li>
                                        <li class="list-group-item">@Resource.ProductId : @item.ProductId</li>
                                        <li class="list-group-item">@Resource.Discount : @item.Discount</li>
                                        <li class="list-group-item">@Resource.Quantity : @item.Quantity </li>
                                        <li class="list-group-item"></li>
                                    }
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <h2 class="text-center">Payment Type: </h2>

            <table class="table">

                <tr>

                    <th>

                        @Resource.Picture
                    </th>

                    <th>

                        @Resource.Title
                    </th>

                    <th>

                        @Resource.Description
                    </th>

                    <th></th>

                </tr>

                <tr>

                    <td>

                        <img src="@Url.Content("~/Content/File/visa.jpg")" class="img-fluid paymenttype" alt="Visa"/>

                    </td>

                    <td>

                        Visa

                    </td>

                    <td>

                        Good

                    </td>

                    <td>

                        @Html.ActionLink(Resource.Buy, "CreateOrder", "Order", new {paymentType = PaymentType.VisaCard}, new {@class = "btn btn-success btn-md bigbut"})
                    </td>

                </tr>

                <tr>

                    <td>

                        <img src="@Url.Content("~/Content/File/ibox.jpg")" class="img-fluid paymenttype" alt="Ibox"/>

                    </td>

                    <td>

                        Box

                    </td>

                    <td>

                        Good

                    </td>

                    <td>

                        @Html.ActionLink(Resource.Buy, "CreateOrder", "Order", new {paymentType = PaymentType.Box}, new {@class = "btn btn-success btn-md bigbut"})
                    </td>

                </tr>

                <tr>

                    <td>

                        <img src="@Url.Content("~/Content/File/bank.jpg")" class="img-fluid paymenttype" alt="Bank"/>

                    </td>

                    <td>

                        Bank

                    </td>

                    <td>

                        Good

                    </td>

                    <td>

                        @Html.ActionLink(Resource.Buy, "CreateOrder", "Order", new {paymentType = PaymentType.Bank}, new {@class = "btn btn-success btn-md bigbut"})
                    </td>

                </tr>

            </table>

        </div>

        <div class="col-lg-2"></div>

    </div>

</div>