﻿@using Resources
@model GameStore.ViewModels.ViewModels.Order.OrderInformViewModel


@{
    ViewBag.Title = "CurrentOrder";
}


<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

            <h2 class="text-center">User Information</h2>

            <table class="table">

                <thead class="thead-inverse">

                <tr>

                    <th>@Html.DisplayName(Resource.UserId)</th>

                    <th>@Html.DisplayName(Resource.OrderId)</th>

                    <th>@Html.DisplayName(Resource.Sum)</th>

                </tr>

                </thead>

                <tbody>

                <tr>

                    <th scope="row">@Html.DisplayFor(model => model.UserId)</th>

                    <td>@Html.DisplayFor(model => model.OrderId)</td>

                    <td>@Html.DisplayFor(model => model.Sum)</td>

                </tr>

                </tbody>

            </table>

        </div>

        <div class="col-lg-2"></div>

    </div>

</div>