﻿@using GameStore.Extensions.Enums
@using Resources
@model GameStore.ViewModels.ViewModels.Payment.ModelForVisa


@{
    ViewBag.Title = "VisaPage";
}


<div class="container-fluid">

<div class="row">

<div class="col-lg-2 col-sm-2 col-md-2"></div>

<div class="col-lg-8 col-xs-12 col-md-8">

<div class="panel panel-default credit-card-box" id="visabox">

<div class="panel-heading display-table">

    <div class="row display-tr">

        <h3 class="panel-title display-td">Payment Details</h3>

        <div class="display-td">

            <img class="img-responsive pull-right" src="~/Content/File/card.png" alt="">

        </div>

    </div>

</div>

<div class="panel-body">

    @using (Ajax.BeginForm("CreatePayment", "Order", null, new AjaxOptions {UpdateTargetId = "resultsStatus", HttpMethod = "POST"}, new {id = "payment-form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.Label(Resource.CartHoldersName)
                    @Html.EditorFor(model => model.CartHoldersName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.CartHoldersName, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.LabelFor(x => x.CardHoldersSurName)
                    @Html.EditorFor(model => model.CardHoldersSurName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.CardHoldersSurName, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.LabelFor(model => model.CardTypes)
                    @Html.DropDownList("CardTypes", EnumHelper.GetSelectList(typeof(CardTypes)), new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.CardTypes, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.Label(Resource.CardNumber)
                    <div class="input-group">

                        @Html.EditorFor(model => model.CardNumber, new {htmlAttributes = new {@class = "form-control", placeholder = "Valid Card Number"}})
                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                        @Html.ValidationMessageFor(model => model.CardNumber, "", new {@class = "text-danger"})
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-7 col-md-7">

                <div class="form-group">

                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>

                    @Html.Label("Month", new {@class = "control-label col-md-2"})
                    @Html.EditorFor(model => model.Month, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Month, "", new {@class = "text-danger"})
                </div>

            </div>


            <div class="col-xs-5 col-md-5 pull-right">

                <div class="form-group">

                    @Html.Label("Year", new {style = "margin-top:24px"})
                    @Html.EditorFor(model => model.Year, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Year, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.LabelFor(model => model.Cvv2)
                    @Html.EditorFor(model => model.Cvv2, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Cvv2, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.LabelFor(model => model.AmounthOfPayment)
                    @Html.EditorFor(model => model.AmounthOfPayment, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AmounthOfPayment, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.LabelFor(model => model.Phone)
                    @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Phone, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">

                    @Html.LabelFor(model => model.Purpose)
                    @Html.EditorFor(model => model.Purpose, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Purpose, "", new {@class = "text-danger"})
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <button type="submit" class="subscribe btn btn-success btn-lg btn-block">@Resource.Create</button>

            </div>

        </div>
    }
</div>

</div>

</div>

<div class="col-lg-2 col-sm-2 col-md-2"></div>

</div>

</div>


<div id="resultsStatus" class="text-center"></div>