﻿@using GameStore.Helpers
@using Resources
@model GameStore.ViewModels.ViewModels.Comment.CommentFormViewModel

@{
    ViewBag.Title = "Comments";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="col-sm-10 col-sm-offset-1" id="logout">
                <div class="page-header">
                    <h3 class="reviews">Leave your comment</h3>
                </div>
                <div class="comment-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#comments-logout" role="tab" data-toggle="tab">
                                <h4 class="reviews text-capitalize">Comments</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#add-comment" role="tab" data-toggle="tab">
                                <h4 class="reviews text-capitalize">Add comment</h4>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="comments-logout">
                            @Html.RenderCommentHierarchy(Model.Comments, Model.GameKey)
                        </div>
                        <div class="tab-pane" id="add-comment">
                            @using (Html.BeginForm("NewComment", "Comment", FormMethod.Post, new {@class = "form-horizontal", id = "commentForm"}))
                            {
                                @Html.ValidationSummary()
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.GameKey)
                                @Html.HiddenFor(model => model.Comment.ParentCommentId)

                                <div class="form-group">
                                    @Html.HiddenFor(x => x.Comment.Quote)
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Resource.EnterEmail:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @Html.TextBoxFor(model => model.Comment.Name, new {@class = "form-control", Value = User.Identity.Name, required = "required"})
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.Comment.Name, new {@class = "form-control", required = "required", placeholder = "Your Email..."})
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Comment</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(model => model.Comment.Body, new {@class = "form-control", rows = "5"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Submit comment</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
</div>