﻿@using Resources
@model IEnumerable<GameStore.ViewModels.Models.BanModel>


@{
    ViewBag.Title = "BanUser";
}


@Resource.UserId : @ViewBag.Id
<table class="table">

    <tr>

        <th>

            @Html.DisplayName(Resource.Type)
        </th>

        <th></th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.Type)
            </td>

        </tr>
    }


</table>