﻿@model GameStore.ViewModels.ViewModels.Role.RolesListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <table class="table-fill">
        <thead>
        <tr>
            <th class="text-left">Id</th>
            <th class="text-left">@Resources.Resource.RoleName</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td class="text-left">@role.Id</td>
                <td class="text-left">@role.RoleName</td>
               <td> <a href="@Url.Action("Delete", "Role", new {name = role.RoleName})" onclick="return confirm('@Resources.Resource.DeleteRole')" class="icons glyphicon glyphicon-remove"></a></td>
            </tr>
        }
        </tbody>
    </table> 
    
    @Html.ActionLink(Resources.Resource.Create, "Create", "Role" ,null,new {@class="linkcenter"})
</main>

 
