﻿body, html {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

.wide {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

ul { list-style-type: none; }

.table-box {
    max-width: 500px;
    margin: 0 auto; 
    margin-top: 15px;
}

#mountain-photo {
    background: url('File/photo.png'), linear-gradient(to right, whitesmoke 16.75%, orange 16.65%, orange);
    background-size: 100% 100%;
    height: 100%;
    margin-top: 3.25%;
    position: absolute;
    width: 100%;
}

.center-form {
    margin-left: 30%;    
}

.clip {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.index-text {
    color: black;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;   
}

.logoutbutton {
    color: white;
}
.navbar { margin: 0 !important; }

.large-icon { color: black; }

.fa-chevron-down { color: white !important; }

.firstblock {
    background-color: white;
    height: 60px;
    padding-right: 5px !important;
}

.username {
    height: 100%;
    position: relative;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.upmenu li a {
    background: orange !important;
    color: white;
}

.dropdown-menu li a { background-color: white !important; }

.dropnumber { margin: 0 auto; }

.textcolor { color: black; }

.secondblock {
    background-color: #344d71;
    height: 60px;
    padding: 0 !important;
}

.header-telephone {
    background-color: #344d71;
    height: 100%;
}

.header-telephone span {
    color: white;
    display: inline-block;
    font-size: 26px;
    margin-left: 3%;
    text-align: center;
    vertical-align: middle;
}

.header-telephone a {
    background: #de9e20;
    display: inline-block;
    height: 100%;
    padding-top: 3%;
    text-align: center;
    vertical-align: middle;
    width: 0.7in;
}

.header-telephone a:hover {
    color: white;
    text-decoration: none;
}

.headertext {
    display: block;
    max-width: 50%;
}

.headertext h1 { color: white; }

.headertext p { color: white; }

.buytext {
    display: inline-block;
    margin-top: 1%;
    max-height: 50px;
    overflow: hidden;
    overflow-y: hidden;
    text-align: left;
    width: 43%;
}

.buytext p {
    color: white;
    font-size: 20px;
}

.nextbutton img {
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}


.wrapper {
    bottom: 1%;
    position: absolute;
    right: 0;
}

@media (max-width: 765px) {
    body { background-color: whitesmoke !important; }

    .wide { height: 220px; }

    .smallnav {
        position: absolute;
        z-index: 30;
    }

    #pricing-table { margin-top: 20%; }

    .smalltag { background-color: orange !important; }

    .form-signin {
        margin: 0 auto;
        text-align: center;
    }
}

.social { margin-top: 10px; }

@media (max-width: 480px) {
    #pricing-table { width: 200px; }

    .smallphone { display: none; }

    .footer-telephone { margin-left: -10px; }

    #pricing-table { margin-left: -60px; }

    .form-signin {
        margin: 0 auto;
        text-align: center;
    }
}

.form-signin {
    background-color: #344d71;
    max-height: 500px;
    max-width: 370px;
    padding: 40px 65px 50px;
}

.form-signin-heading { margin-bottom: 4vmin; }


.header-logout {
    height: 100%;
}

.header-logout span {
    color: white;
    display: inline-block;
    font-size: 26px;
    margin-left: 3%;
    text-align: center;
    vertical-align: middle;
}

.header-logout a {
    background: #de9e20;
    display: inline-block;
    height: 100%;
    padding-top: 5%;
    text-align: center;
    vertical-align: middle;
    width: 1.5in;
    text-decoration: none;
}

.header-logout a:hover {
    text-decoration: none;
    color: white;
}

.header-logout a:active {
    text-decoration: none;
    color: white;
}

.checkbox {
    font-weight: normal;
    margin-left: 20px !important;
}

.login {
    font-size: 18px;
    height: auto;
    padding: 20px !important;
    position: relative;
}

input,
select { max-width: 300px; }

.media-body {
    background-color: grey;
    border: 2px;
    border-color: black;
    display: block;
    font-size: 16px;
    height: 170px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 250px;
}

#localization {
    box-shadow: 0 8px 6px -6px #999;
    position: absolute;
    z-index: 500;
}

.navbarclass { margin-top: 10px; }

#toggleup { background-color: #344d71; }

.textup { margin-top: 3%; }

.textmid { margin-top: 11vmin; }

.grblock {
    background-color: #83969f;
    height: 10vmin;
}

.imgres {
    height: auto;
    max-width: 100%;
}

#basket { margin: 15px 15px; }

.basketempty {
    color: black;
    font-size: 24px;
}

.loginname { color: white; }

.logbutton { background-color: #f6b431; }

#regstatus {
    margin: 0 auto;
    max-width: 430px
}

.rememb {
    color: white;
    padding-left: 2vmin
}

.sumblock {
    border: 2px solid black;
    display: block;
}

.paymenttype {
    max-height: 100px;
    max-width: 150px
}

#visabox {
    margin: 0 auto;
    max-width: 430px
}

#contentbg { background-color: whitesmoke }

#subbutton {
    max-width: 100%;
}

.dropbox {
    color: white;
    display: block;
    height: 20vmin;
    margin: 4% auto;
    max-width: 350px;
    text-align: center;
}

.media-body a {
    color: black;
    cursor: pointer;
    display: block;
}

.panel-primary { width: 400px; }

.panel-primary a {
    color: black;
    cursor: pointer;
    display: block;
}

q {
    color: navy;
    font-family: Times, serif;
    font-style: italic;
    quotes: "\00ab" "\00bb";
}

.quoteclass {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    color: black;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.quoteclass:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.listboxes { margin-left: 150px; }

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    overflow: hidden;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    overflow: scroll;
    padding-left: 250px;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #000;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: absolute;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper { width: 250px; }

#page-content-wrapper {
    overflow-x: hidden;
    padding: 15px;
    position: absolute;
    width: 100%;
}

.xyz { min-width: 360px; }

#wrapper.toggled #page-content-wrapper {
    margin-right: 0;
    position: relative;
}

.fixed-brand { width: auto; }

.sidebar-nav {
    list-style: none;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 15px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-left: red 2px solid;
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus { text-decoration: none; }

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a { color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

.no-margin { margin: 0; }

@media (min-width: 768px) {
    #wrapper { padding-left: 250px; }

    .fixed-brand { width: 250px; }

    #wrapper.toggled { padding-left: 0; }

    #sidebar-wrapper { width: 250px; }

    #wrapper.toggled #sidebar-wrapper { width: 250px; }

    #wrapper.toggled-2 #sidebar-wrapper { width: 50px; }

    #wrapper.toggled-2 #sidebar-wrapper:hover { width: 250px; }

    #page-content-wrapper {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        padding: 20px;
        position: relative;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
        padding-left: 250px;
        position: relative;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        margin-left: -200px;
        margin-right: 0;
        position: relative;
        transition: all 0.5s ease;
        width: auto;
    }
}

footer {
    background-color: #253957;
    display: inline;
    float: left;
    width: 100%;
}

footer .footer-top {
    display: inline;
    float: left;
    padding: 50px 0;
    padding-bottom: 0;
    width: 100%;
}

footer .footer-top .footer-top-area {
    display: inline;
    float: left;
    width: 100%;
}

footer .footer-top .footer-top-area .footer-widget { display: block; }

footer .footer-top .footer-top-area .footer-widget h3 { color: #c2953b; }

.footer-nav li a { margin-left: -35px; }

footer .footer-top .footer-top-area .footer-widget .footer-nav li a {
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: #888;
    transition: all 0.5s;
}

footer .footer-top .footer-top-area .footer-widget address p {
    color: #888;
    margin-bottom: 5px;
}

footer .footer-top .footer-top-area .footer-widget .footer-social a {
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border: 1px solid #888;
    color: #888;
    display: inline-block;
    font-size: 18px;
    margin-right: 8px;
    padding: 2px 0;
    text-align: center;
    transition: all 0.5s;
    width: 35px;
}

footer .footer-top .footer-top-area .footer-widget .footer-social a:hover {
    border-color: #fff;
    color: #fff;
}

.footer-bottom { background-color: #344d71; }

footer .footer-bottom {
    display: inline;
    float: left;
    padding: 15px 0;
    width: 100%;
}

footer .footer-bottom {
    display: inline;
    float: left;
    width: 100%;
}

footer .footer-bottom > p {
    color: #888;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;
}

footer .footer-bottom > p a {
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: #888;
    transition: all 0.5s;
}

.footer-bottom-area p {
    color: #c2953b;
    text-align: center;
}

.footer-telephone {
    background-color: #344d71;
    display: inline-block;
    height: 48px;
    width: 250px;
}

.footer-telephone span {
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-left: 7%;
    text-align: center;
    vertical-align: middle;
}

.footer-telephone a {
    background: #de9e20;
    display: inline-block;
    display: inline-block;
    height: 0.5in;
    padding-top: 5%;
    text-align: center;
    vertical-align: middle;
    width: 0.5in;
}

.footer-telephone a:hover {
    color: white;
    text-decoration: none;
}

.navbar-header a {
    color: #344d71;
    font-size: 24px;
}

.navbar-header a:hover { color: #344d71; }

.accordion {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #344d71;
    border-radius: 4px;
    margin-top: 5%;
    max-width: 100%;
    min-width: 160px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.accordion .link {
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    border-bottom: 1px solid #CCC;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 15px 15px 22px;
    position: relative;
    transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    color: #595959;
    font-size: 18px;
    left: 12px;
    position: absolute;
    top: 16px;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    font-size: 16px;
    left: auto;
    right: 12px;
}

.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.submenu {
    background: #344d71;
    display: none;
    font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu span {
    color: white;
    overflow: hidden;
    padding-left: 32px;
    text-decoration: none;
}

.btn-custom {
    border: 1px solid #bdc3c7;
    color: #bdc3c7;
    font-size: 18px;
}

.btn-custom:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

#pricing-table { padding-top: 20px; }

#pricing-table .pricing {
    font-family: 'Robot', sans-serif;
    margin: 0;
    padding: 0;
}

#pricing-table .pricing .pricing-table .pricing-header {
    background: #34495e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    text-align: left;
}

#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.pricing-title { margin: 0; }

#pricing-table { padding: 0; }

.pricing-table { overflow: auto; }

#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    position: relative;
    text-align: center;
}

.pricing-table { margin-bottom: 10%; }

#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
    color: #bdc3c7;
    font-size: 16px;
    text-transform: uppercase;
}

#pricing-table .pricing .pricing-list {
    background: #ffffff;
    border: 1px solid #e3e3e3;
}

#pricing-table .pricing .pricing-list ul li {
    border-bottom: 1px solid #EAECEB;
    color: #bdc3c7;
    font-size: 16px;
    line-height: 42px;
    list-style: none;
}

.pricing-list ul { padding: 5%; }

#pricing-table .pricing .pricing-list ul li:last-child { border: none; }

#pricing-table .pricing .pricing-list ul li span { color: #34495e; }

.pagingstyle {
    background-color: #253957 !important;
    color: white !important;
}

.selectPag { background-color: white !important; }

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout:last-child { margin-bottom: 0; }

.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger { border-left-color: #d9534f; }

.bs-callout-danger h4 { color: #d9534f; }

@media (max-width: 992px) {
    .resume-heading { padding: 5px; }
}

.table#cart > tbody > tr > td, .table#cart > tfoot > tr > td { vertical-align: middle; }

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        display: inline !important;
        width: 20%;
    }

    .actions .btn {
        margin: 1.5em 0;
        width: 36%;
    }

    .actions .btn-info { float: left; }

    .actions .btn-danger { float: right; }

    table#cart thead { display: none; }

    table#cart tbody td {
        display: block;
        min-width: 320px;
        padding: .6rem;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        display: inline-block;
        font-weight: bold;
        width: 8rem;
    }

    table#cart tfoot td { display: block; }

    table#cart tfoot td .btn { display: block; }
}

#contact-form {
    background-color: #253957;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px;
    max-width: 300px;
    padding: 10px 20px 30px 20px;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-family: Arial, san-serif;
    font-size: 15px;
    margin-bottom: 2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    background: #fff;
    border: 0;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px;
    width: 100%;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus { background-color: #E5E6E7; }

#contact-form textarea {
    height: 150px;
    width: 100%;
}

#contact-form button[type="submit"] {
    background: #991D57;
    background-image: linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image: -moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image: -webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    margin: 0 0 5px;
    padding: 10px;
    width: 100%;
}

#contact-form button[type="submit"]:hover {
    -moz-transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    background-image: linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image: -moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image: -webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active { box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

input:required, textarea:required { box-shadow: none; }

#contact-form .required {
    color: #E5E6E7;
    font-weight: bold;
}

@media only screen and (max-width: 580px) {
    #contact-form {
        left: 3%;
        margin-left: 0;
        margin-right: 3%;
        padding-left: 3%;
        padding-right: 3%;
        width: 88%;
    }
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.credit-card-box label { display: block; }

.credit-card-box .display-table { display: table; }

.credit-card-box .display-tr { display: table-row; }

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.credit-card-box .panel-heading img { min-width: 200px; }

.bigbut { width: 100px; }

.forminput {
    background: #f8f8f8;
    border: 3px solid #ddd;
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 45px !important;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
}

.linkcenter { margin-left: 60px; }

input.forminput {
    background: #fff;
    border: 3px solid #ccc;
    outline: 0;
}

input.forminput:-moz-placeholder { color: #888; }

input.forminput:-ms-input-placeholder { color: #888; }

input.forminput::-webkit-input-placeholder { color: #888; }

button.req {
    background: #19b9e7;
    border: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    text-shadow: none;
    vertical-align: middle;
}

button.req:hover {
    color: #fff;
    opacity: 0.6;
}

button.req:active {
    box-shadow: none;
    color: #fff;
    opacity: 0.6;
    outline: 0;
}

button.req:focus {
    background: #19b9e7;
    color: #fff;
    opacity: 0.6;
    outline: 0;
}

button.req:active:focus, button.req.active:focus {
    background: #19b9e7;
    color: #fff;
    opacity: 0.6;
    outline: 0;
}

.top-content .text h1 { color: #fff; }

.top-content .description p { opacity: 0.8; }

.top-content .description a { color: #fff; }

.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-top {
    background: #fff;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0 25px 15px 25px;
    text-align: left;
}

.form-top-left {
    float: left;
    padding-top: 25px;
    width: 75%;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    color: #ddd;
    float: left;
    font-size: 66px;
    line-height: 100px;
    padding-top: 5px;
    text-align: right;
    width: 25%;
}

.form-bottom {
    background: #eee;
    padding: 25px 25px 30px 25px;
    text-align: left;
}

.form-bottom form .input-error { border-color: #19b9e7; }

.page-header { position: relative; }

.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
    text-align: center;
}

.notes {
    color: #999;
    font-size: 12px;
}

.media .media-object { max-width: 120px; }

.media-body { position: relative; }

.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}

.media-date li { padding: 0; }

.media-date li:first-child:before { content: ''; }

.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}

.media-comment { margin-bottom: 20px; }

.media-replied { margin: 0 0 20px 50px; }

.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 15px;
}

.btn-circle span { padding-right: 6px; }

.embed-responsive { margin-bottom: 20px; }

.tab-content {
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0;
    padding: 50px 15px;
}


.table-fill {
    animation: float 5s infinite;
    background: white;
    border-collapse: collapse;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 450px;
    width: 100%;
}

.table-fill th {
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    color: #D5DDE5;
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.table-fill th:first-child { border-top-left-radius: 3px; }

.table-fill th:last-child {
    border-right: none;
    border-top-right-radius: 3px;
}

.table-fill tr {
    border-bottom: 1px solid #C1C3D1;
    border-top: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-fill tr:hover td {
    background: #4E5066;
    border-bottom: 1px solid #22262e;
    border-top: 1px solid #22262e;
    color: #FFFFFF;
}

.table-fill tr:first-child { border-top: none; }

.table-fill tr:last-child { border-bottom: none; }

.table-fill tr:nth-child(odd) td { background: #EBEBEB; }

.table-fill tr:nth-child(odd):hover td { background: #4E5066; }

.table-fill tr:last-child td:first-child { border-bottom-left-radius: 3px; }

.table-fill tr:last-child td:last-child { border-bottom-right-radius: 3px; }

.table-fill td {
    background: #FFFFFF;
    border-right: 1px solid #C1C3D1;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.table-fill td:last-child { border-right: 0; }

.table-fill th.text-left { text-align: left; }

.table-fill th.text-center { text-align: center; }

.table-fill th.text-right { text-align: right; }

.table-fill td.text-left { text-align: left; }

.table-fill td.text-center { text-align: center; }

.table-fill td.text-right { text-align: right; }

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}