﻿@using Resources
@model GameStore.Authorization.Models.LoginModel


@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-signin"}))
{
    @Html.AntiForgeryToken()
    <h2 class="form-signin-heading loginname">@Resource.Login</h2>

    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control login", placeholder = "Email..."}})
    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})

    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control login", style = "margin-top: 20px", placeholder = "Password..."}})
    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})

    <label class="checkbox">

        @Html.EditorFor(x => x.IsPersistent)<span class="rememb">Remember me</span>
    </label>

    <button class="btn btn-lg btn-primary btn-block logbutton" type="submit">@Resource.Login</button>
    @Html.ActionLink("Register", "Register", "Account", null, new {style = "color:white;"})
}