﻿@using Resources
@model GameStore.Authorization.Models.RegisterModel


@{
    ViewBag.Title = "Register";
}


<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8 form-box">

            <div class="wrapreg" id="regstatus">

                <div class="form-top">

                    <div class="form-top-left">

                        <h3>Sign up now</h3>

                        <p>Fill in the form below to get instant access:</p>

                    </div>

                    <div class="form-top-right">

                        <i class="fa fa-pencil"></i>

                    </div>

                </div>

                <div class="form-bottom">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "registration-form"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        <div class="form-group">

                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-email form-control forminput", placeholder = Resource.EnterEmail}})
                            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-email form-control forminput", placeholder = Resource.Password}})
                            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "form-email form-control forminput", placeholder = Resource.ConfirmPassword}})
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-email form-control forminput", placeholder = Resource.FirstName}})
                            @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-email form-control forminput", placeholder = Resource.LastName}})
                            @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                        </div>

                        <div class="form-group">

                            @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@class = "form-email form-control forminput", placeholder = Resource.Phone}})
                            @Html.ValidationMessageFor(model => model.Phone, "", new {@class = "text-danger"})
                        </div>

                        <button type="submit" class="btn req">@Resource.Registration</button>
                    }
                </div>

            </div>

        </div>

        <div class="col-lg-2"></div>

    </div>

</div>