﻿@using Resources
@model GameStore.Authorization.Models.LoginModel

@if (Model != null)
{
    <li>@Model.Email</li>
    <li>@Html.ActionLink(Resource.Logout, "Logoff", "Account")</li>
}
else
{
    <li>@Html.ActionLink(Resource.Login, "Login", "Account")</li>
    <li>@Html.ActionLink(Resource.Registration, "Register", "Account")</li>
}