﻿@model InternetProvider.ViewModels.RateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @ViewBag.Message
            @using (Html.BeginForm("Save", "Rates", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Create New Rate</legend>
                    <div class="row">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Name, new {placeholder = "Name...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Description</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Description, new {placeholder = "Description...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Price</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Price, new {placeholder = "Price...", @class = "form-control input-md", required = "required", min = "1"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Service</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.SelectedService, new SelectList(Model.Services, "Id", "Name", Model.SelectedService), new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">File</label>
                            <div class="col-md-8">
                                <input type="file" name="uploadFile" id="uploadFile" required=""/>
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Create</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>