﻿@using System.Threading.Tasks
@model TaskManager.WEB.ViewModels.StatisticViewModels.DashboardViewModel
@inject TaskManager.Auth.Interfaces.IAccountManager AccountManager
<h2>Statistics</h2>
<hr />

<div class="form-horizontal">
    <form>
        <div class="form-group">
            <label class="col-md-2 control-label">User</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="user-name-input" data-name-input="true" asp-for="User" type="text" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Statistic")' class="form-control" />
                    <span class="input-group-addon cursor-pointer" onclick="fillUserName();">
                        <span>Me</span>
                    </span>
                </div>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Start date</label>
            <div class="col-md-6">
                <input data-startDate id="start-date-input" data-date-input="true" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input data-statistic type="submit" value="Find" class="btn btn-default"
                       data-url='@Url.Action("GetStatistic", "Statistic")' />
            </div>
        </div>
    </form>

    <div class="row">
        <div data-chartDate></div>
    </div>
    <div class="row">
        <div data-chartStatus class="col-xs-12 col-md-6"></div>
        <div data-chartPriority class="col-xs-12 col-md-6"></div>
    </div>

    <div data-is-statistic-container="true"></div>
        @Html.Partial("~/Views/Partials/Dashboard/TicketsList.cshtml")
        @*<template data-notFound="notFound">
            <h2>No data</h2>
        </template>*@  
</div>

@section scripts {
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>

    <environment names="Development">
        <script src="~/js/statistic-search.js"></script>
        <script src="~/js/dashboard.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/statistic-search.min.js"></script>
        <script src="~/js/dashboard.min.js"></script>
    </environment>
    
    <script>
        function fillUserName() {
            $("#user-name-input").val("@AccountManager.GetUserName(User)");
        }
    </script>
}