﻿@model InternetProvider.ViewModels.AdminPanelHomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <div class="glyphicon glyphicon-shopping-cart icon"></div>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Model.Applications.Count</div>
                        <div class="text-muted">New Applications</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <div class="glyphicon glyphicon-comment icon"></div>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Model.Comments.Count</div>
                        <div class="text-muted">New Comments</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <div class="glyphicon glyphicon-user icon"></div>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">@Model.Users.Count</div>
                        <div class="text-muted">New Users</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <div class="row">
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Users per day</div>
                </div>
                <div class="panel-body">
                    <div class="span3">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Adress</th>
                                <th>Phone</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < Model.Users.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@(i + 1)</th>
                                    <td>@Model.Users[i].FirstName</td>
                                    <td>@Model.Users[i].LastName</td>
                                    <td>@Model.Users[i].Email</td>
                                    <td>@Model.Users[i].Adress</td>
                                    <td>@Model.Users[i].Phone</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title"> Orders per day</div>
                </div>
                <div class="panel-body">
                    <div class="span3">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Account Number</th>
                                <th>Time</th>
                                <th>Rate</th>
                                <th>AdditionalFeatures</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Applications)
                            {
                                <tr>
                                    <td>@item.AccountId</td>
                                    <td>@item.ApplicationTime.ToString("hh:mm tt")</td>
                                    <td>
                                        @if (item.Rate != null)
                                        {
                                            @item.Rate.Name
                                        }

                                    </td>
                                    <td>
                                        @foreach (var item2 in item.AdditionalFeatures)
                                        {
                                            @item2.Name
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>