﻿@model InternetProvider.ViewModels.NewsListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@ViewBag.Message
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span> Picture</span>
                </div>
                <div class="cell">
                    <span>Author</span>
                </div>
                <div class="cell">
                    <span>Title</span>
                </div>
                <div class="cell">
                    <span>Text</span>
                </div>
                <div class="cell">
                    <span>PublicationDate</span>
                </div>
            </div>

            @foreach (var item in Model.Newses)
            {
                <div class="row">

                    <div class="cell">
                        @foreach (var item2 in item.Picture)
                        {
                            <img src="@Url.Content(item2.PicturePath)" alt="image1">
                        }

                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Author)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Text)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </div>
                    <div class="cell">
                        @Ajax.ActionLink(" ", "Update", "News", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "res"}, new {@class = "glyphicon glyphicon-pencil icons"})
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="res"></div>