﻿@model InternetProvider.ViewModels.NewsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("Create", "News", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Update Data</legend>
                    <div class="row">
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.PublicationDate)
                        <div class="form-group">
                            <label class="col-md-4 control-label">Title</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Title, new {placeholder = "Title...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Text</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Text, new {placeholder = "Text...", @class = "textarea", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Author</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Author, new {placeholder = "Author...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Picture</label>
                            <div class="col-md-8">
                                @for (var i = 0; i < Model.Picture.Count; i++)
                                {
                                    @Model.Picture[i].PicturePath
                                    @Html.HiddenFor(model => Model.Picture[i].Id)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Update</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>