﻿@model GameStore.ViewModels.ViewModels.Genre.GenreListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <table class="table-fill">
        <thead>
        <tr>
            <th class="text-left">#</th>
            <th class="text-left">@Resources.Resource.NameGame</th>
            <th class="text-left">@Resources.Resource.ParentGenre</th>
        </tr>
        </thead>
        <tbody class="table-hover">       
            @for (var i = 0; i < Model.Genres.Count ; i++)
            {
                <tr>
                    <td class="text-left">@(i+1)</td>
                    <td class="text-left">@Model.Genres[i].Name</td>
                    <td class="text-left">@Model.Genres[i].ParentGenreId</td>
                    <td> <a href="@Url.Action("Delete", "Genre", new {name = Model.Genres[i].Name})" onclick="return confirm('@Resources.Resource.SureDeleteGenre')" class="icons glyphicon glyphicon-remove"></a></td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink(Resources.Resource.Create, "New", "Genre")
</main>