﻿@model GameStore.ViewModels.ViewModels.Genre.GenreViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(Resources.Resource.NameGame, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(Resources.Resource.ParentGenre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">   
                @Html.DropDownListFor(x=>x.ParentGenreId , new SelectList(Model.Genres,"Id", "Name"))

                @Html.ValidationMessageFor(model => model.ParentGenreId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Resource.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
