﻿@model GameStore.ViewModels.ViewModels.Game.CreateGameViewModel

<div class="form-horizontal">
    <hr/>
    <div class="form-group">
        @Html.Label(Resources.Resource.Key, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Key, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Key, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label(Resources.Resource.NameGame, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label(Resources.Resource.Description, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new {htmlAttributes = new {@class = "form-control" , rows = "5" } })
            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label(Resources.Resource.DescriptionEng, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.DescriptionEnglish, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
            @Html.ValidationMessageFor(model => model.DescriptionEnglish, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label(Resources.Resource.Price, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Price, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label(Resources.Resource.UnitInStock, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitsInStock, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.UnitsInStock, "", new {@class = "text-danger"})
        </div>
    </div>    
</div>