﻿@using Resources
@model GameStore.ViewModels.ViewModels.Game.GameUpdateViewModel

<hr/>
@Html.ValidationSummary(true, "", new {@class = "text-danger"})
@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.HiddenFor(x => x.Key)
</div>

<div class="form-group">
    @Html.Label(Resource.NameGame, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label(Resource.Description, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label(Resource.DescriptionEng, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.DescriptionEnglish, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
        @Html.ValidationMessageFor(model => model.DescriptionEnglish, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label(Resource.Price, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Price, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label(Resource.UnitInStock, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.UnitsInStock, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.UnitsInStock, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label(Resource.Discontinued, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.CheckBoxFor(model => model.Discontinued, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Discontinued, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label(Resource.ViewsNumber, new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.ViewsNumber, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.ViewsNumber, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.Label("Picture")
    <div class="col-md-10">
        <input type="file" name="File" id="File" style="width: 100%;" />
    </div>
</div>

@Resource.Genres
    <br />
    @Html.ListBoxFor(m => m.SelectedGenres, new MultiSelectList(Model.Genres, "Name", "Name"), new { style = "width: 200px; margin-bottom : 20px;height:250px;" })
    <br />
    @Resource.PublisherName
    <br />
    @Html.ListBoxFor(m => m.SelectedPublishers, new MultiSelectList(Model.Publishers, "CompanyName", "CompanyName"), new { style = "width: 200px; display:block; margin-bottom : 20px; height:200px" })

    <br />
    @Resource.PlatformTypes
    <br />
    @Html.ListBoxFor(m => m.SelectedPlatformTypes, new MultiSelectList(Model.PlatformTypes, "Type", "Type"), new { style = "width: 200px; margin-bottom : 20px;" })
