﻿@model InternetProvider.ViewModels.UpdateUserViewModel
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @ViewBag.Message
            @using (Html.BeginForm("SaveEditingUser", "Users", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AccountId)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.DateOfBirthday)
                @Html.HiddenFor(model => model.RegistrationTime)
                <fieldset>
                    <legend>Edit User</legend>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">FirstName</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.FirstName, new {name = "first_name", id = "first_name", @class = "form-control input-lg", placeholder = "First Name", tabindex = "1", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">LastName</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.LastName, new {name = "last_name", id = "last_name", @class = "form-control input-lg", placeholder = "Last Name", tabindex = "2", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Email, new {name = "last_name", id = "last_name", @class = "form-control input-lg", placeholder = "Email", tabindex = "3", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required = "required", type = "email"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Phone, new {name = "phone", id = "phone", @class = "form-control input-lg", placeholder = "Phone...", tabindex = "7", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Adress</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Adress, new {name = "adress", id = "adress", @class = "form-control input-lg", placeholder = "Adress...", tabindex = "9", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Rates:</label>
                        <div id="res">
                            @for (var i = 0; i < Model.Rates.Count; i++)
                            {
                                <span>@Model.Rates[i].Name</span>
                                @Html.HiddenFor(model => model.Rates[i].Id)
                                <span>@Ajax.ActionLink(" ", "DeleteRate", "Users", new {id = Model.Rates[i].Id, userId = Model.Id}, new AjaxOptions {UpdateTargetId = "res"}, new {@class = "icons glyphicon glyphicon-remove"})</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Edit</button>
                        </div>
                    </div>
                </fieldset>
            }
            <h4>Add Rate to User</h4>
            @using (Html.BeginForm("AddRate", "Users", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.DropDownListFor(m => m.SelectedRate, new SelectList(Model.AllRates, "Id", "Name", Model.SelectedRate), new {@class = "form-control"})
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Add"/>
            }
        </div>
    </div>
</div>