﻿@model InternetProvider.ViewModels.AdminRegistrationViewModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @ViewBag.Message
            @using (Html.BeginForm("SaveUser", "Users", FormMethod.Post, new {@class = "form-horizontal", enctype = "multipart/form-data"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.RegistrationTime)
                <fieldset>
                    <legend>Registration New User</legend>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">FirstName</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.FirstName, new {name = "first_name", id = "first_name", @class = "form-control input-lg", placeholder = "First Name", tabindex = "1", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">LastName</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.LastName, new {name = "last_name", id = "last_name", @class = "form-control input-lg", placeholder = "Last Name", tabindex = "2", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Email, new {name = "last_name", id = "last_name", @class = "form-control input-lg", placeholder = "Email", tabindex = "3", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required = "required", type = "email"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Password</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Password, new {required = "required", @class = "form-control input-lg", placeholder = "Password", tabindex = "5"})
                            </div>
                        </div>
                        <div class="generate">
                            @Ajax.ActionLink("Generate", "GeneratePassword", "Users", new AjaxOptions {UpdateTargetId = "numbres"})
                            <div id="numbres"></div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">ConfirmPassword</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new {required = "required", @class = "form-control input-lg", placeholder = "Confirm Password...", tabindex = "6"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Phone, new {name = "phone", id = "phone", @class = "form-control input-lg", placeholder = "Phone...", tabindex = "7", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">DateOfBirthday</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.DateOfBirthday, new {required = "required", type = "text", placeholder = "Birth Date...", id = "datepick", tabindex = "8", @class = "form-control input-lg"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Adress</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Adress, new {name = "adress", id = "adress", @class = "form-control input-lg", placeholder = "Adress...", tabindex = "9", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Rate:</label>
                        @Html.DropDownListFor(m => m.SelectedRate, new SelectList(Model.Rates, "Id", "Name", Model.SelectedRate), new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label>AdditionalFeatures:</label>
                        @Html.ListBoxFor(m => m.SelectedAdditionalFeatures, new MultiSelectList(Model.AdditionalFeatures, "Id", "Name", Model.SelectedAdditionalFeatures), new {Id = "example-getting-started", multiple = "multiple"})
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Registration</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
<div class="example">
    <script type="text/javascript">
        $(document)
            .ready(function() {
                $('#example-getting-started').multiselect();
            });
    </script>

</div>
<script type="text/javascript">
    document.getElementById('datepick').value = null;
</script>