﻿@using System.Web.Optimization
@using Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GameStore</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="description" content="The description of my page"/>
</head>
<body>
<div class="wide">
<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">GameStore</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                <ul class="nav navbar-nav">
                    <li class="dropdownback">
                        <div class="dropdown navbarclass">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                @Resource.ChooseLang
                                <span class="caret"></span>
                            </button>
                            <ul id="localization" class="dropdown-menu">
                                <li id="en">
                                    <a class="lang-value" href="/en/" data-type="enLink">English</a>
                                </li>
                                <li id="ru">
                                    <a class="lang-value" href="/ru/" data-type="enLink">Русский</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 visible-xs text-center social">
                <div class="visible-xs">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Index", "Basket", new {area = ""})">
                            <span class="glyphicon glyphicon-shopping-cart fa-2x large-icon"></span>
                            <span>@{ Html.RenderAction("CountItemsInBasket", "Basket"); }</span>
                            <span style="color: black;">@{ Html.RenderAction("RenderSum", "Basket"); }</span>
                        </a>
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("SignIn", "Account", new {area = ""})">
                            <span class="glyphicon glyphicon-user fa-2x large-icon"></span>
                        </a>
                    }

                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed btn btn-info btn-sm" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" id="toggleup">
                        <span class="glyphicon glyphicon-th"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("Index", "Basket", new {area = ""})">
                                    <span class="glyphicon glyphicon-shopping-cart fa-2x large-icon"></span>
                                    <span>@{ Html.RenderAction("CountItemsInBasket", "Basket"); }</span> 
                                    <span style="color: black">@{ Html.RenderAction("RenderSum", "Basket"); }</span>
                                </a>
                            }
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Content/File/icon3.png" alt=""/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Content/File/icon2.png" alt=""/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Content/File/icon1.png" alt=""/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="hidden-xs photoMon">
    <div id="mountain-photo">

    </div>
</div>
<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-6 col-md-6 col-sm-5 firstblock">
                <div class="username pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @User.Identity.Name
                        <span class="header-logout">@Html.ActionLink(Resource.Logout, "Logoff", "Account", null, new {@class = "logoutbutton"})</span>
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 secondblock">
                <div class="header-telephone">
                    <a href="">
                        <img src="~/Content/File/icon6.png" alt="">
                    </a>
                    <span>+191381313913</span>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar smalltag">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-9 col-sm-10">
                <nav class="navbar upmenu  smallnav" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed btn btn-info btn-sm" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="toggleup">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </button>

                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">
                                        <img src="~/Content/File/icon7.png" alt=""/>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        @Resource.Games <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Ikura</a>
                                        </li>
                                        <li>
                                            <a href="#">Konbu</a>
                                        </li>
                                        <li>
                                            <a href="#">Pavlova</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Tunnbröd</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        @Resource.Genres <span class="caret" ></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Sports</a>
                                        </li>
                                        <li>
                                            <a href="#">Strategy</a>
                                        </li>
                                        <li>
                                            <a href="#">RPG</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Other</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        @Resource.PlatformTypes <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Browser</a>
                                        </li>
                                        <li>
                                            <a href="#">Console</a>
                                        </li>
                                        <li>
                                            <a href="#">Desktop</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Mobile</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Basket", new {area = ""})">@Resource.Basket</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
            <div class="col-lg-2 col-md-1">

            </div>
        </div>
    </div>
</nav>

<div class="container-fluid hidden-xs textup">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="headertext">
                <article>
                    <h1>Reach your limits</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Fusce id ornare leo.Pellentesque vitae dolor sem. Phasellus quis hendrerit </p>
                </article>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid collapsenav textmid">
    <div class="row">
        <div class="col-lg-2  col-md-1  col-sm-1 hidden-xs grblock">
        </div>
        <div class="col-lg-8 col-md-9 col-sm-9 hidden-xs smallblock grblock">
            <div class="buytext  hidden-xs">
                <article>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel facilisis nisi. Pellentesque vitae dolor sem.
                    </p>
                </article>
            </div>

            <div class="nextbutton  hidden-xs">
                <img src="~/Content/File/icon5.png" alt=""/>
            </div>


            <div class="wrapper pull-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    {
                        Html.RenderAction("Login", "Account");
                    }
                }
            </div>

        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

            </div>
        }
        else
        {
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs grblock">

            </div>
        }
    </div>
</div>


<div>
    @RenderBody()
</div>

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-top-area">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="footer-widget">
                                    <h3>About us</h3>
                                    <ul class="footer-nav">
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Our Services</a>
                                        </li>
                                        <li>
                                            <a href="#">Our Products</a>
                                        </li>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Registration</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="footer-widget">
                                    <div class="footer-widget">
                                        <h3>Information</h3>
                                        <ul class="footer-nav">
                                            <li>
                                                <a href="#">Delivery</a>
                                            </li>
                                            <li>
                                                <a href="#">Returns</a>
                                            </li>
                                            <li>
                                                <a href="#">Services</a>
                                            </li>
                                            <li>
                                                <a href="#">Discount</a>
                                            </li>
                                            <li>
                                                <a href="#">Special Offer</a>
                                            </li>
                                            <li>
                                                <a href="#">Details</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="footer-widget">
                                    <div class="footer-widget">
                                        <h3>Contact Us</h3>
                                        <address>
                                            <p> 12 Karazin ST, KH 62000, UA</p>
                                            <p>Phone +191381313913</p>
                                            <p>Fax 039614 55555</p>
                                            <p>Email admin@gmail.com</p>
                                        </address>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="footer-telephone">
                                    <a href="">
                                        <img src="~/Content/File/icon6.png" alt="">
                                    </a>
                                    <span>+191381313913</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-area">
                        <p>GameStore 2016</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/customScripts")
@RenderSection("scripts", false)
</body>
</html>