﻿@model GameStore.Models.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="col-xs-12 col-md-4">
        </div>
        <div class="col-xs-12 col-md-4 error-screen">
            <H2 class="text-center text-danger">Error</H2>
            <hr />
            <p>@Model.Message</p>
            <hr />
            <p>@Model.StackTrace</p>
        </div>
        <div class="col-xs-12 col-md-4">
        </div>
    </div>
</body>
</html>
