﻿@using System.Threading.Tasks
@using TaskManager.Auth.Interfaces
@inject IAccountManager AccountManager

@if (AccountManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="get" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Hello, @AccountManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}