﻿@model TaskManager.WEB.ViewModels.TicketViewModels.TicketViewModel

<div class="modal fade" id="modal-remove-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a asp-controller="Ticket" asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
    </div>
</div>