﻿@using TaskManager.WEB.ViewModels.CommentViewModels;
@model CommentViewModel

<div class="modal fade" id="modal-add-comment-@Model.TicketId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                <h4>Create new comment</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Add" asp-controller="Comment" method="post">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-xs-12 col-lg-offset-2">
                            @{
                                if (!Context.User.Identity.IsAuthenticated)
                                {
                                    <h4>You aren't logged in system. Please log in or register in system</h4>
                                    @Html.ActionLink("Login", "Login", "Account")
                                }
                                else
                                {
                                    <div class="row">
                                        @Html.HiddenFor(m => m.TicketId)

                                        <div class="col-lg-2">
                                            @Html.LabelFor(m => m.Text)
                                        </div>
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(m => m.Text, null, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(m => m.Text)
                                        </div>
                                    </div>
                                    <br/>
                                }
                            }
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <br/>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Add comment</button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>