﻿@using System.Threading.Tasks
@using TaskManager.WEB.ViewModels.CommentViewModels
@model CommentViewModel

<div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <br />
                        Comment will be deleted. Are you sure?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="Comment" method="post">
                    <input type="hidden" name="commentId" value="@Model.Id" />
                    <input type="hidden" name="ticketId" value="@Model.TicketId" />

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
            </div>
        </div>
    </div>
</div>