﻿@model TaskManager.WEB.ViewModels.CommentViewModels.CommentViewModel

@{
    Layout = null;
}

<div class="container comment">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@Model.User.FullName</strong> <span class="text-muted">@Model.Date</span>
                    <span class="glyphicon glyphicon-remove pull-right cursor-pointer" aria-hidden="true" data-toggle="modal" data-target="#@Model.Id"></span>
                    @Html.Partial("~/Views/Partials/Comment/_Delete.cshtml", Model)
                </div>
                <div class="panel-body">
                    @Model.Text
                </div>
            </div>
        </div>
    </div>
</div>