﻿@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<TaskManager.WEB.ViewModels.CommentViewModels.CommentViewModel>

@{
    Layout = null;
}

<div class="container-fluid">
    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Partials/Comment/CommentPartial.cshtml", item)
    }
</div>