﻿body, html {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

#please-wait {
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: #eee url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    height: 300px;
    left: 50%;
    top: 30%; 
    margin-left: -150px;
    position: absolute;
    width: 450px;
    z-index: 5000;
}

#please-wait .text {
    color: #666;
    font-family: arial;
    font-size: 21px;
    margin: 13px;
    padding: 10px;
    text-align: left;
}

.linkUrl {
    color: black;
}

progress {
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    background: white;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 400px;
}

progress::-webkit-progress-bar {
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    background: #f1f1f1;
    border-radius: 5px;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 400px;
}

progress::-webkit-progress-value {
    background: #ffb76b;
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */
}

progress::-moz-progress-bar {
    background: #ffb76b;
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */
}

input[type="url"] {
    border: 1px solid #aaa;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    font-size: 16px;
    height: 40px;
    padding: 5px 8px;
    width: 350px;
}

.goLink {
    text-align: center;
    margin-top: 80px;
}

input[type='submit'] {
    background: linear-gradient(to bottom, #0bc408 0%, #09a206 100%);
    border: 0;
    border-bottom: 1px solid #0e780c;
    border-left: 1px solid #0e780c;
    border-radius: 8px;
    border-right: 1px solid #0e780c;
    border-top: 1px solid #87c286;
    box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
    padding: 4px 0 5px 0;
    text-shadow: 0 1px 0 #757575;
    width: 150px;
}

.spclass { margin-left: 10px; }

.lblclass {
    font-size: 18px;
}

.empty {
    color: red;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
}

.submit { text-decoration: none; }

.submit:hover { text-decoration: none; }

.glypCol {
    color: black;
    font-size: 1.2em;
    margin-right: 10px;
}

.glypCol:hover {
     color: black;
     text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 500px;
  margin: 50px auto;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: rgba(237, 28, 64, .1);
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
}

.searchLinks {
    margin-top: 170px;
    width: 100%;
    height: 300px;
    border: #ed1c40 2px solid;
}
.sortlabel {
    font-size: 16px;
}
.captionMenu {
    background-color: #ed1c40;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: white;
    height: 35px;
}

.mText {
    margin: 10px 10px;
}