﻿@model InternetProvider.ViewModels.RateListViewModel

<div class="btn dropdown drop">
    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 80px !important;">
        Sort By
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>@Html.ActionLink("Prices descending", "SortByPriceDes", "Rates", new {id = Model.ServiceId}, null)</li>
        <li>@Html.ActionLink("Prices ascending", "SortByPriceInc", "Rates", new {id = Model.ServiceId}, null)</li>
        <li>@Html.ActionLink("Alphabet(a-z)", "SortByAlph", "Rates", new {id = Model.ServiceId}, null)</li>
        <li>@Html.ActionLink("Alphabet(z-a)", "SortByAlphDec", "Rates", new {id = Model.ServiceId}, null)</li>
    </ul>
</div>

<div class="table-title">
    <h2 style="margin-top: 20px;">@Model.ServiceName Rates</h2>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Description</th>
        <th class="text-left">Price($)</th>
        <th class="text-left"></th>
    </tr>
    </thead>
    <tbody class="table-hover">
    @foreach (var item in Model.Rates)
    {
        <tr>
            <td class="text-left">
                @item.Name
                <p>@Html.ActionLink(item.File.Name, "DownloadPdf", "Rates", new {id = item.Id}, null)</p>
            </td>
            <td class="text-left">@item.Description</td>

            <td class="text-left">@item.Price</td>

            <td class="text-left">
                @Html.ActionLink("Add to Cart", "Details",
                    new {id = item.Id}, new {@class = "button button--wapasha button--round-l button--text-thick"})
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title center">Confirm</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".button")
                .click(function(e) {

                    e.preventDefault();
                    $.get(this.href,
                        function(data) {
                            $('.modal-body').html(data);
                            $('#myModal').modal('show');
                        });
                });
        })
    </script>
}