﻿@using System.Threading.Tasks
@using TaskManager.WEB.ViewModels.TicketViewModels
@model IEnumerable<TicketViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Name</td>
                <td>@ticket.CreationDate</td>
                <td>@ticket.Priority</td>
                <td>@ticket.Status</td>
                <td class="text-center">
                    <a asp-action="GetTicket" asp-controller="Ticket" asp-route-ticketId="@ticket.Id">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>