﻿@model IEnumerable<LinkManager.ViewModels.ResponseTimeViewModel>

<link href="~/Content/Styles.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<table class="table">
    <thead>
    <tr>
        <th>Url</th>
        <th>Speed(ms)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="success">
            <td>
                @item.Url
            </td>
            <td>
                <progress value=@item.CurrentResponseTime max="4000"></progress><span class="spclass">@item.CurrentResponseTime</span>
            </td>
        </tr>
    }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CurrentResponseTime)@Html.Label("(ms)")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MinResponseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MaxResponseTime)
            </th>
        </tr>
    </thead>
        @foreach (var t in Model)
        {
            <tr class="success">
                <td>
                    @t.Url
                </td>
                <td>
                    @t.CurrentResponseTime
                </td>
                <td>
                    @t.MinResponseTime
                </td>
                <td>
                    @t.MaxResponseTime
                </td>
            </tr>
        }
</table>
