﻿@model LinkManager.ViewModels.LinksListViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-group searchLinks">
                <label class="captionMenu">Menu</label>
                <label class="sortlabel mText">Sort By Date:</label>
                <div class="input-group date datetimepicker mText">
                    @using (Html.BeginForm("SortByDate", "Home", FormMethod.Get))
                    {
                        <input type='text' class="form-control" name="date" required/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Sort</button>
                        </span>
                    }
                </div>
                <label class="sortlabel mText">Search:</label>
                <div class="input-group mText">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                    {
                        <input type="text" class="form-control" name="searchString" placeholder="Enter Url..." required/>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Find Link</button>
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="goLink">
                @using (Ajax.BeginForm("Index", "Home", new AjaxOptions {HttpMethod = "POST", LoadingElementId = "please-wait", UpdateTargetId = "results"}))
                {
                    @Html.TextBoxFor(model => model.Url, new {type = "url", required = "required", placeholder = "Enter Url..."})
                    <input type="submit" id="hide" value="Test Now"/>
                }
            </div>
            <div id="results"></div>
            @ViewBag.Error
            <div id="hd">
                @if (!Model.EnteredLinks.Any())
                {
                    <p class="empty"> History is empty now</p>
                }
                else
                {
                    <table class="table">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <th>TestedTime</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.EnteredLinks)
                        {
                            <tr class="success">
                                <td>
                                    <a href="@Url.Action("Index", "History", new {testTime = item.TestedTime, url = item.Url})" class="linkUrl">@item.Url</a>
                                </td>
                                <td>
                                    <abbr class="timeago" title="@item.TestedTime"></abbr>
                                </td>
                                <td>
                                    <a href="#" class="glyphicon glyphicon-remove glypCol" data-value="@item.Id" data-toggle="modal" data-type='deleteModal' data-target="#confirm-delete"></a>
                                    <a href="@Url.Action("Index", "History", new {testTime = item.TestedTime, url = item.Url})" class="glyphicon glyphicon-eye-open glypCol"></a>
                                    <a href="@Url.Action("GetTestInFile", "Home", new {testTime = item.TestedTime, url = item.Url})" class="glyphicon glyphicon-download-alt glypCol"></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Remove
            </div>
            <div class="modal-body">
                Do you really want to delete this link?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="@Url.Action("Delete")" class="btn btn-danger btn-ok confirmDelete">Delete</a>
            </div>
        </div>
    </div>
</div>
<div id="please-wait" style="display: none;">
    <div class="text">Loading...</div>
</div>