﻿@model GameStore.ViewModels.ViewModels.Game.GamePublisherViewModel
@{  
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Resources.Resource.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Key)
        </dd>

        <dt>
            @Html.DisplayName(Resources.Resource.NameGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Name)
        </dd>

        <dt>
            @Html.DisplayName(Resources.Resource.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Description)
        </dd>

        <dt>
            @Html.DisplayName(Resources.Resource.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Price)
        </dd>

        <dt>
            @Html.DisplayName(Resources.Resource.UnitInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.UnitsInStock)
        </dd>
        <dd>
            @if (Model.Game.IsDeleted)
            {
                <p>@Resources.Resource.DeletedGame</p>
            }
        </dd>
    </dl>
    <h2>@Resources.Resource.PublisherName</h2>

    @if (Model.Names != null)
    {
        foreach (var name in Model.Names)
        {
            <p>@Html.ActionLink(name, "Details", "Publisher", new { companyName = name , area = ""}, new { target = "_blank" })</p>
        }
    }

    <h2>@Resources.Resource.Genres</h2>
    @foreach (var item in Model.Game.Genres)
    {
        @item.Name
    }

    <h2>@Resources.Resource.PlatformTypes</h2>
    @foreach (var item in Model.Game.PlatformTypes)
    {
        @item.Type
    }
</div>