﻿@using GameStore.Extensions.Enums
@using GameStore.Helpers
@model GameStore.ViewModels.ViewModels.Game.GamesListViewModel

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.DropDownList("ElementsOnThePage", EnumHelper.GetSelectList(typeof(ElementsPerPage)), new { @class = "form-control dropnumber" })
<div >
    <table class="table-fill table-box">
        <thead>
        <tr>
            <th class="text-left">
                @Html.DisplayName(Resources.Resource.Key)
            </th>
            <th class="text-left">
                @Html.DisplayName(Resources.Resource.NameGame)
            </th>
            <th class="text-left">
                @Html.DisplayName(Resources.Resource.Description)
            </th>
            <th class="text-left">
                @Html.DisplayName(Resources.Resource.Price)
            </th>
            <th class="text-left">
                @Html.DisplayName(Resources.Resource.UnitInStock)
            </th>
            <th class="text-left">
                @Html.DisplayName("Views")
            </th>
            <th class="text-left">
                @Html.DisplayName("AddedToStore")
            </th>
        </tr>
        </thead>
        <tbody class="table-hover">
            @if (Model.Games.Count != 0)
            {
                foreach (var item in Model.Games)
                {
                    <tr>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Key)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.UnitsInStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ViewsNumber)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.AddedToGameStore)
                        </td>
                        <td class="text-left">
                            @Html.ActionLink(Resources.Resource.Details, "Details", "Game", new { key = item.Key }, new { @class = "link" })
                        </td>
                        <td class="text-left">
                            @Html.ActionLink(Resources.Resource.Update, "Update", "Game", new { key = item.Key }, new { @class = "link" })
                        </td>
                        <td class="text-left">
                            @Html.ActionLink(Resources.Resource.Remove, "Remove", "Game", new { key = item.Key }, new { @class = "link" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>@Resources.Resource.GamesNotFound</p>
            }
        </tbody>
    </table>
        </div>
        <br />
        <div class="btn-group">
            @Html.BootstrapPager(Model.PageInfo.PageNumber, index => Url.Action("Index", "Game", new { page = index }), Model.PageInfo.TotalItems, Model.PageInfo.PageSize)
        </div>
<aside>

    @using (Html.BeginForm("Index", "Game", FormMethod.Get, new { id = "filterForm" }))
    {
        <input type="hidden" name="ElementsPerPage" id="ElementsPerPage">
        <input type="hidden" name="Page" id="page">
    }
</aside>   

@Html.ActionLink(Resources.Resource.Create, "New", "Game",null,new {@class="linkcenter"})
