﻿@model GameStore.ViewModels.ViewModels.Game.CreateGameViewModel

@{ 
    ViewBag.Title = "New";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
} 

<main class="center-form">
    @using (Html.BeginForm("New", "Game", FormMethod.Post , new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            @Html.EditorForModel()
        </div>

       <h5>@Html.Label(Resources.Resource.PublisherName)</h5>
       @Html.ListBoxFor(m => m.SelectedPublishers, new MultiSelectList(Model.Publishers, "CompanyName", "CompanyName"), new { style = "width: 200px; display:block; margin-bottom : 20px; height:200px" })

       <h5>@Resources.Resource.Genres</h5>
       @Html.ListBoxFor(m => m.SelectedGenres, new MultiSelectList(Model.Genres, "Name", "Name"), new { style = "width: 200px; display:block; margin-bottom : 20px; height:200px" })

       <p>@Resources.Resource.PlatformTypes</p>
       @Html.ListBoxFor(m => m.SelectedPlatformTypes, new MultiSelectList(Model.PlatformTypes, "Type", "Type"), new { style = "width: 200px;" })

        <p> Picture: </p>
       <input type="file" name="File" id="File" style="width: 100%;"/>

       <button type="submit">@Resources.Resource.Create</button>
    }
</main>