﻿@model GameStore.ViewModels.ViewModels.Game.GameUpdateViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Update</h2>

<main class="center-form">
    @using (Html.BeginForm("Update", "Game", FormMethod.Post , , new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resources.Resource.Update" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }
</main>

