@using System.Threading.Tasks
@using TaskManager.WEB.ViewModels.TicketViewModels
@model TicketBoardViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="row">
    <button type="button" class="btn btn-primary pull-right btn-create">Create ticket</button>
</div>*@

<div class="row">
    <div class="col-xs-12 col-md-4">
        <H2 class="text-center"> Open </H2>
        <hr/>
        <a asp-action="Create" class="btn btn-success btn-lg btn-block btn-create">Create ticket</a>
        @foreach (var item in Model.PlannedTasks)
        {
            @Html.Partial("~/Views/Partials/Ticket/_Ticket.cshtml", new TicketPartialViewModel { Board = Model, Ticket = item})
        }
    </div>

    <div class="col-xs-12 col-md-4">
        <h2 class="text-center"> In Progress </h2>
        <hr />
        @foreach (var item in Model.ProgressTasks)
        {
            @Html.Partial("~/Views/Partials/Ticket/_Ticket.cshtml", new TicketPartialViewModel { Board = Model, Ticket = item })
        }
    </div>

    <div class="col-xs-12 col-md-4">
        <h2 class="text-center"> Done </h2>
        <hr />
        @foreach (var item in Model.DoneTasks)
        {
            @Html.Partial("~/Views/Partials/Ticket/_Ticket.cshtml", new TicketPartialViewModel { Board = Model, Ticket = item })
        }
    </div>
</div>
