@using System.Threading.Tasks
@using TaskManager.Core.Enums
@using TaskManager.WEB.ViewModels.TicketViewModels
@model TicketViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create ticket</h2>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="form-group col-md-8">
            <label asp-for="Tags" class="col-md-2 control-label"></label>
            <div class="col-md-10 tags-input">
                <input data-tagInput type="text" class="tagsinput" asp-for="Tags" data-role="tagsinput" />
            </div>
        </div>
    </div>
    <div class="row">
        <form data-createTicketForm asp-action="Create">
            <div class="hidden">
                <input type="hidden" class="tagsinput-alltags" asp-for="AllTags" />
                <input asp-for="Status" type="hidden" value="@Status.Open" />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-md-8">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Text" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="Priority" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control"></select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-8">
                <div class="text-left col-md-offset-1">
                    <input type="submit" data-add-tag-btn value="Create" class="btn btn-success"/>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/typeahead.bundle.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-tagsinput.js"></script>
        <script src="~/js/tagsinput.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/create-ticket.min.js"></script>
    </environment>
}
