@using System.Threading.Tasks
@using TaskManager.WEB.ViewModels.TicketViewModels
@model TicketViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit ticket</h2>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="form-group col-md-8">
            <label asp-for="Tags" class="col-md-2 control-label"></label>
            <div class="col-md-10 tags-input">
                <input type="text" class="tagsinput" value="@string.Join(",", Model.Tags)" data-role="tagsinput" />
            </div>
        </div>
    </div>
    <div class="row">
        <form data-createTicketForm asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div style="display: none;">@Html.EditorFor(model => model.LinkedTickets)</div>
            <div class="form-group col-md-8">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Text" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Status" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<TaskManager.Core.Enums.Status>()" class="form-control"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Priority" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Priority" asp-items="Html.GetEnumSelectList<TaskManager.Core.Enums.Priority>()" class="form-control"></select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-8">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" data-add-tag-btn value="Save" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="hidden">
    <input type="hidden" class="tagsinput-alltags" asp-for="AllTags" />
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/typeahead.bundle.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-tagsinput.js"></script>
        <script src="~/js/tagsinput.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/create-ticket.min.js"></script>
    </environment>
}
