﻿@using TaskManager.Core.Enums
@using TaskManager.WEB.ViewModels.TicketViewModels;
@model TicketDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var statusClass = "panel-success";

    switch (Model.Ticket.Priority)
    {
        case Priority.High:
            statusClass = "panel-warning";
            break;
        case Priority.Critical:
            statusClass = "panel-danger";
            break;
        case Priority.Low:
            statusClass = "panel-info";
            break;
    }
}
<br />

<div class="panel @statusClass">
    <div class="panel-heading">
        <span><b>Name:</b> @Model.Ticket.Name</span>
        <a data-toggle="modal" data-target="#modal-remove-@Model.Ticket.Id" class="pull-right cursor-pointer">
            <span class="glyphicon glyphicon-trash manage-block-icon" aria-hidden="true"></span>
        </a>
        <span class="pull-right">&nbsp;&nbsp;</span>
        <a asp-action="Edit" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id" class="pull-right">
            <span class="glyphicon glyphicon-pencil manage-block-icon" aria-hidden="true"></span>
        </a>
    </div>
    <div class="panel-body">
        <p>
            <b>Tags:</b> @string.Join(", ", Model.Ticket.Tags)
        </p>
        <p>
            <b>Text:</b> @Model.Ticket.Text
        </p>
        <p>
            <b>Assignee:</b> @Model.Ticket?.Assignee?.FullName
        </p>
        <p>
            <b>Watchers:</b> @string.Join(", ", Model.Ticket.Watchers.Select(watcher => watcher.FullName))
        </p>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <b>Priority:</b> @Model.Ticket.Priority
            </div>
            <div class="col-xs-12 col-md-4">
                <b>Status:</b> @Model.Ticket.Status
            </div>
            <div class="col-xs-12 col-md-4">
                <b>Creation Date:</b> @Model.Ticket.CreationDate
            </div>
        </div>
        <hr />
    </div>

    <div class="panel-footer">
        @Html.Partial("~/Views/Partials/Ticket/_ManageBlock.cshtml", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h2 class="col-md-11">
                Comments:
                <a data-toggle="modal" data-target="#modal-add-comment-@Model.Ticket.Id" class="btn btn-success pull-right">
                    Add comment
                </a>
            </h2>
        </div>
        
        <br/>
        @Html.Partial("~/Views/Partials/Comment/CommentsPartial.cshtml", Model.Comments)
    </div>
    <div class="col-md-6">
        <h2>Linked tickets:</h2>
        @foreach (var ticket in Model.Ticket.LinkedTickets)
        {
            <a asp-action="UnLinkTickets" asp-controller="TicketLink" asp-route-sourceTicket="@Model.Ticket.Id" asp-route-destinationTicket="@ticket.Id">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>Unlink
            </a>
            @Html.Partial("~/Views/Partials/Ticket/_Ticket.cshtml", new TicketPartialViewModel { Board = null, Ticket = ticket })
        }
    </div>
</div>



