﻿@using GameStore.Helpers
@model GameStore.ViewModels.ViewModels.Comment.CommentFormViewModel 

@{
    ViewBag.Title = "CommentsList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Model.Comments.Count == 0)
{
    <p> @Resources.Resource.GameWithoutComments</p>
}
else
{
    @Html.RenderComments(Model.Comments, Model.GameKey)
}

<div id="DelCommentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this comments?</p>
                <span id="contentHolder" style="color: black; font-size: 20px; display: none"></span>
            </div>
            <div class="modal-footer">
                <a href="" class="commentDelete" id="commentDelete">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="Undo">Undo</button>
            </div>
        </div>
    </div>
</div>