﻿@using GameStore.Extensions.Enums
@using GameStore.Helpers
@model GameStore.ViewModels.ViewModels.Game.GamesListViewModel 

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    @Html.DropDownList("ElementsOnThePage", EnumHelper.GetSelectList(typeof(ElementsPerPage)), new { @class = "form-control linkcenter" })

    <table class="table linkcenter">
        <tr>
            <th>
                @Html.DisplayName(Resources.Resource.Key)
            </th>
            <th>
                @Html.DisplayName(Resources.Resource.NameGame)
            </th>
            <th>
                @Html.DisplayName(Resources.Resource.Description)
            </th>
            <th>
                @Html.DisplayName(Resources.Resource.Price)
            </th>
            <th>
                @Html.DisplayName(Resources.Resource.UnitInStock)
            </th>
            <th>
                @Html.DisplayName(Resources.Resource.ViewsNumber)
            </th>
            <th>
                @Html.DisplayName(Resources.Resource.AddedToGameStore)
            </th>
            <th></th>
        </tr>

        @if (Model.Games.Count != 0)
            {
                foreach (var item in Model.Games)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViewsNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedToGameStore)
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Resource.CommentsList, "Comments", "Comment", new { key = item.Key }, new { @class = "link" })
                    </td>
                </tr>
            }
        }
        else
        {
            <p>@Resources.Resource.GamesNotFound</p>
        }

    </table>
    <br />
    <div class="btn-group">
        @Html.BootstrapPager(Model.PageInfo.PageNumber, index => Url.Action("Index", "Comment", new { page = index }), Model.PageInfo.TotalItems, Model.PageInfo.PageSize)
    </div>
<aside>

    @using (Html.BeginForm("Index", "Comment", FormMethod.Get, new { @class = "filterForm" }))
    {
        <input type="hidden" name="elementsPerPage" id="elements">
        <input type="hidden" name="page" id="page">
    }
</aside>
