﻿@model GameStore.ViewModels.ViewModels.AdminPanel.AdminPanelHomeViewModel

@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 350px;">@Resources.Resource.Users24</h2>
<main>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">@Resources.Resource.Email</th>
                <th class="text-left">@Resources.Resource.FirstName</th>
                <th class="text-left">@Resources.Resource.LastName</th>
                <th class="text-left">@Resources.Resource.Phone</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td class="text-left">@user.Email</td>        
                    <td class="text-left">@user.FirstName</td>  
                    <td class="text-left">@user.LastName</td> 
                    <td class="text-left">@user.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</main>