body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.page-content > .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 30px;
}

.span3 {
    height: 300px !important;
    overflow-y: scroll;
}

/* Footer */

footer {
    background-color: #2c3742;
    bottom: 0px;
    box-shadow: inset 0px 0px 3px #111;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0px 10px 0px;
}

footer a {
    border-bottom: 1px dotted #888;
    color: #eee;
    text-decoration: none;
}

footer a:hover {
    border: 0px;
    color: #aaa;
    text-decoration: none;
}

footer hr {
    border-bottom: #212121 1px solid;
    border-top: #000 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer .copy {
    font-size: 13px;
    margin: 15px 0px;
}

/* Logo & Navigation */

.header {
    background-color: #2c3742;
    height: 50px;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0px;
    padding: 10px 0px;
}

.header .logo h1 a {
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header .logo h1 a:hover {
    border: 0px;
    color: #fff;
    text-decoration: none;
}

.header .form {
    margin: 10px auto;
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
}

.header .navbar * { box-shadow: none !important; }

.header .navbar .label {
    border-radius: 15px !important;
    font-size: 12px;
    margin: 0px 2px;
    padding: 4px 8px;
}

.header .navbar {
    background: none !important;
    border: 0px !important;
}

.header .navbar i { margin-right: 3px; }

.header .navbar .nav > li > a {
    border-bottom: 0px !important;
    color: #fff !important;
    font-size: 13px !important;
    font-weight: bold;
    margin-top: 0px !important;
}

.header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus { background: none !important; }

.header .navbar-collapse { border: 0px !important; }

.header .navbar-header {
    margin: 0 auto;
    width: 43px;
}

.header .navbar-header button {
    color: #fff !important;
    padding: 5px 10px;
}

.header .navbar-toggle {
    background-color: #1dc1da !important;
    border: 1px solid #0fa6bc !important;
}

.header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background-color: #0fa6bc !important;
    border: 1px solid #0fa6bc !important;
}

.header .dropdown-menu {
    background: #fff !important;
    border-radius: 6px !important;
}

.header .dropdown-menu li {
    border-bottom: 1px dashed #f3f3f3;
    font-size: 13px;
    padding: 6px 15px;
}

.header .dropdown-menu li a {
    color: #888;
    padding-left: 0px !important;
}

.header .dropdown-menu li:last-child { border: 0px; }

.header .dropdown-menu li a:hover {
    background: none !important;
    border: 0px !important;
    color: #666 !important;
}

.header .dropdown-big { min-width: 300px; }

.header .dropdown-big .dropdown-head {
    background: #fcfcfc;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -5px;
    padding: 7px 15px;
}

.header .dropdown-big .dropdown-title {
    color: #999;
    font-size: 13px;
    font-weight: bold;
}

.header .dropdown-big .dropdown-body { background: #fff; }

.header .dropdown-big .dropdown-foot {
    background: #fcfcfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: -5px;
    padding: 7px 15px;
}

.header .dropdown-big .dropdown-foot a { color: #888; }

.header .dropdown-big .dropdown-foot a:hover {
    border-bottom: 0px;
    color: #555;
}

.header .navbar-nav .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}

.header .navbar-nav > .open > a .caret, .header .navbar-nav > .open > a:hover .caret, .header .navbar-nav > .open > a:focus .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}

/* Sidebar navigation */

.content-box, .content-box-large {
    background: #fff;
    border-bottom: 2px solid #eee;
    border-left: 1px solid #eee;
    border-radius: 10px;
    border-right: 2px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 30px;
    padding: 10px;
}

.content-box-large { padding: 20px; }

.box-with-header {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.content-box-header {
    background: #f5f5f5;
    border-left: 1px solid #eee;
    border-right: 2px solid #eee;
    border-top: 1px solid #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    min-height: 40px;
    padding: 10px;
}

.content-box-header:after { clear: both; }

.sidebar ul.nav, .sidebar ul.nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar ul.nav ul {
    display: none;
    margin: 0px;
    padding: 0px;
}

.sidebar .nav li.open ul { display: block; }

.sidebar .nav > li {
    border-bottom: 1px dashed #eee;
    margin: 0;
}

.sidebar .nav > li:last-child { border-bottom: 0px; }

.sidebar .nav > li li { margin: 0; }

.sidebar .nav > li li a { padding-left: 25px; }

.sidebar .nav > li > a {
    background: none;
    border-top: 0px;
    color: #999;
    display: block;
    font-size: 14px;
    font-weight: bold;
    font-weight: bold;
    line-height: 20px;
    padding: 15px 15px;
    text-decoration: none;
}

.sidebar .nav > li > a > i { margin-right: 5px; }

.sidebar .nav > li > ul > li > a {
    background: #fff;
    border-top: 0px;
    color: #999;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 8px 10px 8px 40px;
    text-decoration: none;
}

.sidebar .nav > li > ul > li.active > a {
    background: #fff;
    border-top: 0px;
    color: #555;
}

.sidebar .nav > li > ul > li > a:hover {
    background: #fff;
    border-bottom: 0px;
    color: #555;
}

.sidebar .nav li a:hover, .sidebar .nav li.current > a {
    background: #fff;
    border-bottom: 0px;
    color: #555;
}

.sidebar .nav li.open > a {
    background: #fff;
    border-bottom: 1px dashed #eee;
    color: #555;
}

.sidebar .nav a .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #aaa;
    content: "";
    display: inline-block;
    float: right;
    height: 0;
    margin-left: 2px;
    margin-top: 8px;
    vertical-align: top;
    width: 0;
}

.sidebar .nav a:hover .caret { border-top-color: #aaa; }

.sidebar .nav li.open > a > .caret {
    border-bottom: 4px solid #aaa !important;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: none;
}

.sidebar .nav li.open > a:hover > .caret { border-bottom-color: #aaa; }

body { background-color: #eff0f3; }


.panel-heading > .panel-title, .content-box-header .panel-title {
    float: left;
    padding: 10px 15px;
    padding-top: 0px;
}

.panel-heading > .panel-title > *, .content-box-header .panel-title > * { margin: 0; }

.panel-heading > .panel-title > span, .content-box-header .panel-title > span { font-weight: normal; }

.panel-heading > .panel-options, .content-box-header .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading > .panel-options > a, .content-box-header .panel-options > a { margin-top: 10px; }

.panel-body { clear: both; }

/* Responsive CSS */

/* Mobile phones */

@media (max-width: 480px) {
}

/* Tablets */

@media (max-width: 767px) {
    .container { width: 100%; }

    .header {
        height: auto;
        padding: 15px 0px;
    }

    .header .logo {
        padding-bottom: 10px;
        text-align: center;
    }

    .header .navbar .nav > li > a:hover {
        background: #0fa6bc;
        border-radius: 5px;
    }

    .navbar-toggle { margin-right: 0px !important; }
}

/* Desktop */

@media (max-width: 991px) {
    .header {
        height: auto;
        padding: 15px 0px;
    }

    .header .logo {
        padding-bottom: 10px;
        text-align: center;
    }

    .header .form { margin: 10px auto; }

    .sidebar, content-box {
        float: none;
        margin-bottom: 30px;
        position: relative;
        width: 100%;
    }

    .mainy { margin-left: 0px; }

    .sidebar-dropdown {
        border-bottom: 1px dashed #eee;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .sidebar-dropdown a, .sidebar-dropdown a:hover {
        background: #16cbe6;
        border-bottom: 0px;
        border-radius: 10px;
        box-shadow: 0px 0px 1px #0fa6bc;
        color: #fff;
        display: block;
        padding: 6px 12px;
    }
}

.large { font-size: 2em; }

.text-muted { color: #9fadbb; }

.color-gray { color: #5f6468; }

.color-blue { color: #30a5ff; }

.color-teal { color: #1ebfae; }

.color-orange { color: #ffb53e; }

.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468; }

.bg-primary .glyphicon-remove:hover { color: #ef4040; }

.no-padding {
    margin: 0;
    padding: 0;
}

.glyphicon-xl { font-size: 6em; }

.glyphicon-l { font-size: 3em; }

.glyphicon-m { font-size: 1.5em; }

.glyphicon-s { font-size: 0.75em; }

.form-control {
    border: 1px solid #eee;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #30a5ff;
    box-shadow: inset 0px 0px 0px 1px #30a5ff;
    outline: 0;
}

.navbar-header .navbar-brand {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-header .navbar-brand span { color: #30a5ff; }

/*Panels*/

.panel { border: 0; }

.panel-heading {
    font-size: 18px;
    font-weight: 300;
    height: 66px;
    letter-spacing: 0.025em;
    line-height: 45px;
}

.panel-default .panel-heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
}

.panel-footer {
    background: #fff;
    border-top: 1px solid #eee;
}

.panel-widget {
    padding: 0;
    position: relative;
}

.panel-widget .panel-footer {
    border: 0;
    text-align: center;
}

.panel-footer .input-group {
    margin: 0 -5px;
    padding: 0px;
}

.panel-footer .input-group-btn:last-child > .btn,
.panel-footer .input-group-btn:last-child > .btn-group { margin: 0; }

.panel-widget .panel-footer a { color: #999; }

.panel-widget .panel-footer a:hover {
    color: #666;
    text-decoration: none;
}

.panel-blue {
    background: #30a5ff;
    color: #fff;
}

.panel-teal {
    background: #1ebfae;
    color: #fff;
}

.panel-orange {
    background: #ffb53e;
    color: #fff;
}

.panel-red {
    background: #f9243f;
    color: #fff;
}

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p {
    color: #fff;
    color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading { border-bottom: 1px solid rgba(255, 255, 255, .2); }

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted { color: rgba(255, 255, 255, .5); }

.dark-overlay {
    background: rgba(0, 0, 0, .05);
    text-align: center;
}

.widget-left {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 80px;
    padding-top: 15px;
    text-align: center;
}

.widget-right {
    background: #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #999;
    font-weight: 300;
    height: 80px;
    line-height: 1.6em;
    margin: 0px;
    padding: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .widget-right {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin: 0;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .widget-left {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.widget-right .text-muted { color: #9fadbb; }

.widget-right .large { color: #5f6468; }

.panel-blue .widget-left {
    background: #30a5ff;
    color: #fff;
}

.panel-teal .widget-left {
    background: #1ebfae;
    color: #fff;
}

.panel-orange .widget-left {
    background: #ffb53e;
    color: #fff;
}

.panel-red .widget-left {
    background: #f9243f;
    color: #fff;
}

.panel-widget { background: #fff; }

.icon { font-size: 45px; }

.navig {
    list-style: none;
    text-align: center;
}

.navig li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}

.navig a {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    color: #a7a7a7;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    height: 144px;
    line-height: 144px;
    margin: 36px;
    position: relative;
    text-align: center;
    width: 144px;
}

.navig a:before {
    background: #fff;
    border-radius: 50%;
    border-top: 2px solid #ddd;
    bottom: -18px;
    box-shadow: inset 0px 8px 48px #ddd;
    content: "";
    display: block;
    left: -18px;
    position: absolute;
    right: -18px;
    top: -18px;
    z-index: -1;
}

.navig a:hover {
    background: #f5f5f5;
    color: #555;
    text-decoration: none;
}

#result legend { text-align: center; }

#result form { margin-left: -80px; }

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px;
}

.tablelist {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    margin: 0 0 40px 0;
    width: 100%;
}

@media screen and (max-width: 580px) {
    .tablelist { display: block; }
}

.tablelist .row {
    background: #f6f6f6;
    display: table-row;
}

.tablelist .row:nth-of-type(odd) { background: #e9e9e9; }

.tablelist .row.header {
    background: #ea6153;
    color: #ffffff;
    font-weight: 900;
}

.tablelist .row.green { background: #27ae60; }

.tablelist .row.blue { background: #2980b9; }

@media screen and (max-width: 580px) {
    .tablelist .row {
        display: block;
        padding: 8px 0;
    }
}

.tablelist .cell {
    display: table-cell;
    padding: 6px 12px;
}

.tablelist .cell span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 580px) {
    .tablelist .cell {
        display: block;
        padding: 2px 12px;
    }
}

.icons {
    color: black !important;
    font-size: 16px;
}

.icons:hover {
    color: black !important;
    text-decoration: none;
}

textarea {
    -moz-border-radius: 4px;
    -moz-box-shadow: none;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: none;
    -webkit-transition: all .3s;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: none;
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 190px;
    margin: 0;
    padding: 0 20px;
    resize: none;
    transition: all .3s;
    vertical-align: middle;
    width: 400px;
}

.generate {
    display: block;
    float: right;
    margin-right: -100px;
    margin-top: -60px;
}

.generate a {
    border: 2px solid;
    border-color: black;
    color: black;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
}

#numbres {
    background-color: white;
    font-size: 14px;
    height: 20px;
    margin-top: 10px;
}

h2 { text-align: center; }