html { overflow-y: scroll; }

body {
    background-color: #222124;
    background-color: #F4F1EA;
    font-size: 14px;
    line-height: 1.7em;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.container.no-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#container_hornav {
    position: relative;
    top: 0px;
}

#container_slideshow {
    overflow: hidden;
    z-index: 0;
}

#container_spacer1 { height: 60px; }

#container_spacer3 { height: 40px; }

/*-----------------------------------------------------------------------------------*/

/* Header */

/*-----------------------------------------------------------------------------------*/

.blockwidth { height: 400px; }

#pre_header {
    background: none repeat scroll 0 0 #363539;
    height: 74px;
}

#header {
    background: url(/Images/bg1.jpg);
    background-color: #dad8d8;
    height: 250px;
    position: relative;
    width: 100%;
}

#header img { float: right; }

#header.container { border-bottom: 1px solid #c7c5c1; }

/* Logo */

.logo {
    display: inline-block;
    float: left;
}

.logo a h2 {
    color: #e15a1f;
    font-family: Book Antiqua;
    font-size: 61px;
    margin: 5px;
    margin-top: 15px;
}

p.site-slogan {
    color: #b1a5bd;
    font-size: 11px;
    letter-spacing: 8px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 68px;
    white-space: nowrap;
    z-index: 20;
}

/*-----------------------------------------------------------------------------------*/

/* Footer */

/*-----------------------------------------------------------------------------------*/

#base {
    background-color: #363539;
    color: #dddddd;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

#base a {
    color: #eeeeee;
    color: rgba(255, 255, 255, 0.7);
}

#base a:hover { color: #ffffff; }

#base li a { text-shadow: none; }

#base h3 {
    color: #817f88;
    opacity: 0.8;
    text-shadow: none;
}

.margright {
    margin-bottom: 10px !important;
    margin-right: 40px !important;
}

.drop {
    float: right;
    margin-right: 140px;
    margin-top: 15px;
}

.widthbig {
    height: 950px !important;
    width: 900px !important;
}

#footer {
    background-color: #4f4e53;
    color: #eeeeee;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 15px;
    padding-top: 15px;
}

#footermenu ul { margin: 0; }

#footermenu ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}

#footermenu ul li:last-child { border: none; }

#footermenu ul li a {
    color: #eeeeee;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

#footermenu ul li a:hover { color: #ffffff; }

/* Copyright */

#copyright p {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------------------------*/

/* Miscellaneous */

/*-----------------------------------------------------------------------------------*/

.visible { opacity: 1 !important; }

.animatebox {
    background: #cccccc;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #dddddd;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #777777 !important;
    font-size: 22px;
    margin: 30px auto 60px;
    max-width: 500px;
    padding: 80px 0;
    text-align: center;
    width: 100%;
}

h1.logo-text a { display: inline; }

.logo a {
    display: inline !important;
    width: auto !important;
}

/*-----------------------------------------------------------------------------------*/

/* Utility Classes */

/*-----------------------------------------------------------------------------------*/

.color-default { color: #333333; }

.color-default[class^="fa-"]:before,
.color-default[class*=" fa-"]:before { color: #333333; }

.color-primary { color: #363539; }

.color-primary[class^="fa-"]:before,
.color-primary[class*=" fa-"]:before { color: #363539; }

.color-red { color: #8b2626; }

.color-red[class^="fa-"]:before,
.color-red[class*=" fa-"]:before { color: #8b2626; }

.color-blue { color: #43668c; }

.color-blue[class^="fa-"]:before,
.color-blue[class*=" fa-"]:before { color: #43668c; }

.color-green { color: #649f2b; }

.color-green[class^="fa-"]:before,
.color-green[class*=" fa-"]:before { color: #649f2b; }

.color-aqua { color: #86b998; }

.color-aqua[class^="fa-"]:before,
.color-aqua[class*=" fa-"]:before { color: #86b998; }

.color-yellow { color: #d0b426; }

.color-yellow[class^="fa-"]:before,
.color-yellow[class*=" fa-"]:before { color: #d0b426; }

.color-brown { color: #6f6f55; }

.color-brown[class^="fa-"]:before,
.color-brown[class*=" fa-"]:before { color: #6f6f55; }

.color-violet { color: #8270a4; }

.color-violet[class^="fa-"]:before,
.color-violet[class*=" fa-"]:before { color: #8270a4; }

.color-orange { color: #ae6926; }

.color-orange[class^="fa-"]:before,
.color-orange[class*=" fa-"]:before { color: #ae6926; }

.padding-horiz-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-horiz-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-horiz-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-horiz-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-horiz-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-horiz-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.padding-vert-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padding-vert-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padding-vert-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.padding-vert-40 {
    padding-bottom: 40px;
    padding-top: 40px;
}

.padding-vert-50 {
    padding-bottom: 50px;
    padding-top: 50px;
}

.padding-vert-60 {
    padding-bottom: 60px;
    padding-top: 60px;
}

.margin-horiz-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-horiz-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-horiz-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.margin-horiz-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.margin-horiz-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-horiz-60 {
    margin-left: 60px;
    margin-right: 60px;
}

.margin-vert-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.margin-vert-20 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.margin-vert-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.margin-vert-40 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.margin-vert-50 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.margin-vert-60 {
    margin-bottom: 60px;
    margin-top: 60px;
}

.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }

.margin-top-0 { margin-top: 0; }

.margin-top-5 { margin-top: 5px; }

.margin-top-10 { margin-top: 10px; }

.margin-top-15 { margin-top: 15px; }

.margin-top-20 { margin-top: 20px; }

.margin-top-30 { margin-top: 30px; }

.margin-top-40 { margin-top: 40px; }

.margin-top-60 { margin-top: 60px; }

.margin-bottom-0 { margin-bottom: 0; }

.margin-bottom-5 { margin-bottom: 5px; }

.margin-bottom-10 { margin-bottom: 10px; }

.margin-bottom-15 { margin-bottom: 15px; }

.margin-bottom-20 { margin-bottom: 20px; }

.margin-bottom-30 { margin-bottom: 30px; }

.margin-bottom-40 { margin-bottom: 40px; }

.margin-bottom-60 { margin-bottom: 60px; }

.padding-top-0 { padding-top: 0; }

.padding-top-5 { padding-top: 5px; }

.padding-top-10 { padding-top: 10px; }

.padding-top-15 { padding-top: 15px; }

.padding-top-20 { padding-top: 20px; }

.padding-top-30 { padding-top: 30px; }

.padding-top-40 { padding-top: 40px; }

.padding-top-60 { padding-top: 60px; }

.padding-bottom-0 { padding-bottom: 0; }

.padding-bottom-5 { padding-bottom: 5px; }

.padding-bottom-10 { padding-bottom: 10px; }

.padding-bottom-15 { padding-bottom: 15px; }

.padding-bottom-20 { padding-bottom: 20px; }

.padding-bottom-30 { padding-bottom: 30px; }

.padding-bottom-40 { padding-bottom: 40px; }

.padding-bottom-60 { padding-bottom: 60px; }

/* Button Colors */

.btn-green {
    -webkit-font-smoothing: antialiased;
    background-color: #658538 !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#759a40), to(#648537));
    background-image: -moz-linear-gradient(top, #759a40, #648537);
    background-image: -ms-linear-gradient(top, #759a40, #648537);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #759a40), color-stop(100%, #648537));
    background-image: -webkit-linear-gradient(top, #759a40, #648537);
    background-image: -o-linear-gradient(top, #759a40, #648537);
    background-image: linear-gradient(#759a40, #648537);
    background-repeat: repeat-x;
    border-color: #648537 #648537 #618035;
    color: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#759a40", endColorstr="#648537");
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}

.btn-bronze {
    -webkit-font-smoothing: antialiased;
    background-color: #856f38 !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#9a8140), to(#856f37));
    background-image: -moz-linear-gradient(top, #9a8140, #856f37);
    background-image: -ms-linear-gradient(top, #9a8140, #856f37);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a8140), color-stop(100%, #856f37));
    background-image: -webkit-linear-gradient(top, #9a8140, #856f37);
    background-image: -o-linear-gradient(top, #9a8140, #856f37);
    background-image: linear-gradient(#9a8140, #856f37);
    background-repeat: repeat-x;
    border-color: #856f37 #856f37 #806b35;
    color: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a8140", endColorstr="#856f37");
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}

.btn-red {
    -webkit-font-smoothing: antialiased;
    background-color: #853838 !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#9a4040), to(#853737));
    background-image: -moz-linear-gradient(top, #9a4040, #853737);
    background-image: -ms-linear-gradient(top, #9a4040, #853737);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a4040), color-stop(100%, #853737));
    background-image: -webkit-linear-gradient(top, #9a4040, #853737);
    background-image: -o-linear-gradient(top, #9a4040, #853737);
    background-image: linear-gradient(#9a4040, #853737);
    background-repeat: repeat-x;
    border-color: #853737 #853737 #803535;
    color: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a4040", endColorstr="#853737");
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}

.btn-violet {
    -webkit-font-smoothing: antialiased;
    background-color: #813885 !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#96409a), to(#813785));
    background-image: -moz-linear-gradient(top, #96409a, #813785);
    background-image: -ms-linear-gradient(top, #96409a, #813785);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96409a), color-stop(100%, #813785));
    background-image: -webkit-linear-gradient(top, #96409a, #813785);
    background-image: -o-linear-gradient(top, #96409a, #813785);
    background-image: linear-gradient(#96409a, #813785);
    background-repeat: repeat-x;
    border-color: #813785 #813785 #7c3580;
    color: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96409a", endColorstr="#813785");
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}

.btn-blue {
    -webkit-font-smoothing: antialiased;
    background-color: #386685 !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#40769a), to(#376685));
    background-image: -moz-linear-gradient(top, #40769a, #376685);
    background-image: -ms-linear-gradient(top, #40769a, #376685);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40769a), color-stop(100%, #376685));
    background-image: -webkit-linear-gradient(top, #40769a, #376685);
    background-image: -o-linear-gradient(top, #40769a, #376685);
    background-image: linear-gradient(#40769a, #376685);
    background-repeat: repeat-x;
    border-color: #376685 #376685 #356280;
    color: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40769a", endColorstr="#376685");
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}

.btn-aqua {
    -webkit-font-smoothing: antialiased;
    background-color: #388582 !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#409a97), to(#378582));
    background-image: -moz-linear-gradient(top, #409a97, #378582);
    background-image: -ms-linear-gradient(top, #409a97, #378582);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #409a97), color-stop(100%, #378582));
    background-image: -webkit-linear-gradient(top, #409a97, #378582);
    background-image: -o-linear-gradient(top, #409a97, #378582);
    background-image: linear-gradient(#409a97, #378582);
    background-repeat: repeat-x;
    border-color: #378582 #378582 #35807d;
    color: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#409a97", endColorstr="#378582");
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}

/*-----------------------------------------------------------------------------------*/

/* Top Menu - Hornav */

/*-----------------------------------------------------------------------------------*/

#hornav {
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
}

#hornav > ul {
    border-radius: 0 5px 0 5px;
    padding: 0 10px 0 12px;
}

#hornav > ul > li {
    margin: 0px 5px;
    padding: 12px 0;
}

#hornav > ul > li > a,
#hornav > ul > li > span {
    -moz-transition-duration: 0.4s;
    -moz-transition-property: background-color;
    -ms-transition-duration: 0.4s;
    -ms-transition-property: background-color;
    -o-transition-duration: 0.4s;
    -o-transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: background-color;
    border-radius: 5px;
    color: #333333;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.4em;
    margin: 1px;
    padding: 8px 18px;
    text-decoration: none;
    transition-duration: 0.4s;
    transition-property: background-color;
    z-index: 1;
}

#hornav > ul > li > a:hover,
#hornav > ul > li > span:hover,
#hornav > ul > li > a:active,
#hornav > ul > li > span:active,
#hornav > ul > li > a.current,
#hornav > ul > li > span.current {
    background-color: rgba(0, 0, 0, 0.043);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05) inset;
    margin: 0;
}

/* Dropdown Menu */

#hornav ul ul {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background: #f4f1ea;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: block;
    list-style: none;
    margin: 0px;
    min-width: 200px;
    padding: 5px 0 !important;
    position: relative;
    z-index: 20;
}

#hornav ul ul li {
    float: none;
    min-height: 22px;
    position: relative;
}

#hornav ul ul li a,
#hornav ul ul li span {
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: none;
    color: #555555 !important;
    display: block;
    padding: 6px 15px;
    text-transform: none;
}

#hornav ul ul:before {
    background: transparent url('../img/menu_arrow.png') no-repeat 0 0;
    content: "";
    display: block;
    height: 10px;
    left: 26px;
    position: absolute;
    top: -10px;
    width: 14px;
}

#hornav ul ul li:first-child a { border: none; }

#hornav ul ul li a:active,
#hornav ul ul li a:focus,
#hornav ul ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

#hornav ul ul li:hover a { text-decoration: none; }

#hornav ul ul ul:before { display: none; }

#hornav li ul,
#hornav li ul li ul {
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    height: auto;
    min-width: 200px;
    opacity: 0;
    position: absolute;
    top: 70px;
    transition: all 300ms linear;
    visibility: hidden;
    z-index: 1000;
}

#hornav li:hover > ul,
#hornav li ul li:hover > ul {
    display: block;
    opacity: 1;
    top: 60px;
    visibility: visible;
}

#hornav li ul li ul {
    left: 220px;
    top: 0;
}

#hornav li ul li:hover > ul {
    left: 200px;
    top: 0px;
}

#hornav ul ul .parent:after {
    color: #777;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 15px;
    top: 10px;
}

/*-----------------------------------------------------------------------------------*/

/* Sidebar Menu */

/*-----------------------------------------------------------------------------------*/

.sidebar-nav {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.sidebar-nav li {
    padding: 0;
    /*Sidebar Sub Navigation*/
}

.sidebar-nav li a {
    background: #e8e5df;
    border-bottom: 1px solid #d8d6d0;
    color: #363539;
    display: block;
    font-size: 17px;
    outline: none;
    padding: 10px 20px;
}

.sidebar-nav li a:hover { text-decoration: none; }

.sidebar-nav li ul {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li ul a {
    background: #f4f1ea;
    border-bottom: solid 1px #d8d6d0;
    color: #555555;
    font-size: 12px;
    padding: 5px 23px;
}

.sidebar-nav ul li:hover a,
.sidebar-nav ul li.active a { color: #363539; }

.sidebar-nav > li:last-child a { border: none; }

/*Sidebar Badges*/

.list-group-item li > .badge { float: right; }

.sidebar-nav span.badge {
    margin-right: 10px;
    margin-top: 8px;
}

.sidebar-nav .list-toggle > span.badge { margin-right: 25px; }

.sidebar-nav ul li span.badge {
    background: #4f4e53;
    border-radius: 0 0 5px 5px;
    font-size: 10px;
    margin-right: 20px;
    margin-top: 0px;
    padding: 3px 5px;
}

/*Sidebar List Toggle*/

.list-toggle:after {
    color: #777;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    top: 10px;
}

.list-toggle.active:after {
    color: #fff;
    content: "\f107";
}

/* Make Font Awesome icons fixed width */

.sidebar-nav li [class^="fa"],
.sidebar-nav li [class*=" fa"] {
    display: inline-block;
    left: -2px;
    margin-right: 2px;
    position: relative;
    text-align: center;
    width: 1.25em;
}

.sidebar-nav li [class^="fa"].fa-lg,
.sidebar-nav li [class*=" fa"].fa-lg {
    /* increased font size for fa-lg */
    width: 1.5625em;
}

/*-----------------------------------------------------------------------------------*/

/* Mobile Menu */

/*-----------------------------------------------------------------------------------*/

.slicknav_btn {
    cursor: pointer;
    display: block;
    float: right;
    line-height: 1.125em;
    padding: 0.5em 0.7em;
    position: relative;
    vertical-align: middle;
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    float: left;
    line-height: 1.188em;
}

.slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text { margin: 0; }

.slicknav_menu .slicknav_icon-bar {
    -moz-border-radius: 1px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    font-size: 18px;
    height: 0.125em;
    width: 1.125em;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em; }

.slicknav_nav { clear: both; }

.slicknav_nav ul,
.slicknav_nav li { display: block; }

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
    display: block;
}

.slicknav_nav a { display: block; }

.slicknav_nav .slicknav_item a { display: inline; }

.slicknav_menu:before,
.slicknav_menu:after {
    content: " ";
    display: table;
}

.slicknav_menu:after { clear: both; }

/* IE6/7 support */

.slicknav_menu { *zoom: 1; }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu { font-size: 18px; }

/* Button */

.slicknav_btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin: 5px 5px 6px;
    text-decoration: none;
}

/* Button Text */

.slicknav_menu .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
}

/* Button Lines */

.slicknav_menu .slicknav_icon-bar { background-color: #f5f5f5; }

.slicknav_menu {
    background: #363539;
    padding: 5px;
}

.slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
}

.slicknav_nav,
.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
}

.slicknav_nav .slicknav_item {
    margin: 2px 0px;
    padding: 14px;
}

.slicknav_nav a {
    color: #fff;
    margin: 2px 0px;
    padding: 14px;
    text-decoration: none;
}

.slicknav_nav ul {
    margin: 0;
    padding: 0;
}

.slicknav_nav li {
    background: #2a2a2a;
    color: #ffffff;
}

.slicknav_nav li li {
    background: #3a3a3a;
    text-indent: 10px;
}

.slicknav_nav li li li {
    background: #444444;
    text-indent: 20px;
}

.slicknav_nav li li a { color: #cccccc; }

.slicknav_nav .slicknav_item a {
    margin: 0;
    padding: 0;
}

.slicknav_nav .slicknav_item:hover {
    background: #1a1a1a !important;
    color: #eeeeee;
}

.slicknav_nav a:hover {
    background: #1a1a1a !important;
    color: #eeeeee;
}

.slicknav_nav .slicknav_txtnode { margin-left: 15px; }

/*-----------------------------------------------------------------------------------*/

/* Typo */

/*-----------------------------------------------------------------------------------*/

h1 { font-size: 2em; }

h2 {
    color: black;
    font-size: 32px;
    font-weight: 300;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 10px;
}

h3 {
    color: #2d2d2d;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h4 {
    color: #9e9e9e;
    font-size: 18px;
    line-height: 32px;
}

h5 { font-size: 1.1em; }

h6 {
    font-size: 1em;
    font-weight: bold;
}

a {
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    -webkit-transition: color 0.15s ease-in;
    text-decoration: none;
    transition: color 0.15s ease-in;
}

a:hover { text-decoration: none; }

p { margin-bottom: 16px; }

hr {
    border-color: #d1d1d1;
    width: 70%;
}

img { max-width: 100%; }

.icon-list { padding-left: 30px; }

ul.menu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.menu a {
    color: #777777;
    display: block;
    font-size: 12px;
    letter-spacing: 0;
    padding: 12px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.menu a:hover { color: #444; }

ul.menu li { border-bottom: 2px solid rgba(0, 0, 0, 0.06); }

ul.menu li:last-child { border-bottom: none; }

ul.menu li li a {
    background: none;
    border: none;
    color: #666;
    padding: 4px 30px;
    padding-left: 25px;
}

ul.menu li li a:hover { color: #888; }

ul.menu ul {
    margin-bottom: 0px;
    margin-top: -4px;
    padding-bottom: 5px;
}

/*-----------------------------------------------------------------------------------*/

/* Blockquotes */

/*-----------------------------------------------------------------------------------*/

blockquote {
    background: #fafafa;
    border: 1px solid #d1d1d1;
    border-left: 10px solid #d1d1d1;
    border-radius: 0px;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 10px 20px;
}

blockquote.right {
    border-width: 1px 10px 1px 1px !important;
    text-align: right;
}

blockquote.right.primary {
    border-color: #817f88;
    border-left: 1px solid;
    border-right: 10px solid #817f88;
}

blockquote p { margin: 0; }

blockquote.bg-gray {
    background: #555555;
    border: 1px solid #b3b3b3;
    border-left: 10px solid #b3b3b3;
    color: #ffffff;
}

blockquote.primary {
    border: 1px solid #817f88;
    border-left: 10px solid #817f88;
}

blockquote.bg-primary {
    background: #4f4e53;
    border: 1px solid #817f88;
    border-left: 10px solid #817f88;
    color: #ffffff;
}

/*-----------------------------------------------------------------------------------*/

/* Font Awesome */

/*-----------------------------------------------------------------------------------*/

[class^="fa-"]:before,
[class*=" fa-"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.3);
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 10px;
}

/* Joomla Menus */

.menu li [class^="fa-"]:before,
.menu li [class*=" fa-"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.menu li [class^="fa-"]:before,
.menu li [class*=" fa-"]:before {
    color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    left: 10px;
    position: absolute;
    top: 13px;
}

.menu li a[class^="fa-"],
.menu li a[class*=" fa-"] {
    padding-left: 37px !important;
    position: relative;
}

.menu li a:hover[class^="fa-"]:before,
.menu li a:hover[class*=" fa-"]:before { color: rgba(0, 0, 0, 0.1); }

/* Top Menu Icons */

#hornav .menu li [class^="fa-"]:before,
#hornav .menu li [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.2);
    left: 12px;
    top: 12px;
}

/* Header-# Menu Icons */

.header-1 .menu li [class^="fa-"]:before,
.header-1 .menu li [class*=" fa-"]:before,
.header-2 .menu li [class^="fa-"]:before,
.header-2 .menu li [class*=" fa-"]:before {
    color: rgba(0, 0, 0, 0.2);
    top: 1px;
}

/* Base Module Icons */

#base [class^="fa-"]:before,
#base [class*=" fa-"]:before { color: rgba(255, 255, 255, 0.2); }

/* Footer Menu Icons */

#footermenu li [class^="fa-"]:before,
#footermenu li [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.2);
    top: 5px;
}

.smOW li [class^="fa-"]:before,
.smOW li [class*=" fa-"]:before {
    color: rgba(0, 0, 0, 0.2);
    top: 9px;
}

.fa-col5 {
    float: left;
    padding: 0 0 10px;
    width: 20%;
}

a.slicknav_item [class^="fa-"]:before,
a.slicknav_item [class*=" fa-"]:before { display: none; }

.menu a.slicknav_item [class^="fa-"],
.menu a.slicknav_item [class*=" fa-"] { padding-left: 0 !important; }

.fa-icon-list {
    margin: 30px 0;
    text-align: center;
}

.fa-icon-list > div { min-height: 105px; }

.fa-icon-list i {
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
}

i.fa { display: inline-block; }

i.fa:before { padding-right: 0; }

i.fa.square,
i.fa.circle,
i.fa.rounded {
    border-radius: 50%;
    height: 26px;
    line-height: 26px;
    width: 26px;
}

i.fa.square.icon-lg,
i.fa.circle.icon-lg,
i.fa.rounded.icon-lg {
    height: 40px;
    line-height: 40px;
    width: 40px;
}

i.fa.square.icon-xlg,
i.fa.circle.icon-xlg,
i.fa.rounded.icon-xlg {
    height: 50px;
    line-height: 50px;
    width: 50px;
}

i.fa.square.icon-xxlg,
i.fa.circle.icon-xxlg,
i.fa.rounded.icon-xxlg {
    height: 50px;
    line-height: 50px;
    width: 50px;
}

i.fa.square {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

i.fa.center {
    text-align: center;
    width: 100%;
}

.fa-border {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #d1d1d1 !important;
    border-radius: 5px !important;
    padding: 0.2em 0.35em 0.15em !important;
}

.fa-border:before { padding-right: 0; }

/* Buttons */

.btn [class^="fa-"]:before,
.btn [class*=" fa-"]:before { color: #ffffff; }

.btn-default [class^="fa-"]:before,
.btn-default [class*=" fa-"]:before { color: rgba(0, 0, 0, 0.3); }

/* Labels */

.label [class^="fa-"]:before,
.label [class*=" fa-"]:before { color: #ffffff; }

.label-default [class^="fa-"]:before,
.label-default [class*=" fa-"]:before { color: rgba(0, 0, 0, 0.3); }


/*-----------------------------------------------------------------------------------*/

/* Portfolio */

/*-----------------------------------------------------------------------------------*/

.gridgallery { background: #e8e6eb; }

.image-hover {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100%;
    position: relative;
    text-align: center;
}

.image-hover {
    background-color: rgba(0, 0, 0, 0.043);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 15px;
}

.image-hover figure {
    border-radius: 5px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.image-hover figure img {
    -moz-transition: -moz-transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    display: block;
    max-width: 100%;
    position: relative;
    transition: transform 0.4s;
}

.image-hover figure .overlay {
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.8s;
    z-index: 20;
}

.image-hover figure a.expand {
    background: url("../img/link.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 100%;
    padding: 0;
    text-decoration: none;
    text-indent: -9999px;
    width: 100%;
}

.image-hover figure a.expand:hover { text-decoration: none; }

.image-hover figure.hover .overlay { opacity: 1; }

.image-hover figure.hover a.expand { opacity: 0.8; }

.image-hover [class^="fa-"]:before,
.image-hover [class*=" fa-"]:before { color: rgba(255, 255, 255, 0.9); }

.image-hover .btn {
    border-radius: 5px 0 0 0;
    border-width: 1px 0px 0 1px;
    bottom: 0px;
    font-size: 0.9em;
    padding: 3px 15px;
    position: absolute;
    right: 0px;
}

.portfolio-group { width: 100% !important; }

.portfolio-filter {
    margin: 0;
    padding: 0px;
}

.portfolio-filter li {
    display: inline-block;
    list-style: none;
}

.portfolio-filter-label {
    font-size: 10px;
    font-weight: bold;
    padding: 11px 12px;
    text-transform: uppercase;
}

.no-touch .image-hover figure:hover img,
.image-hover figure.cs-hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.no-touch .image-hover figure:hover figcaption,
.image-hover figure.cs-hover figcaption {
    -moz-transform: translateY(0px);
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
    .image-hover figcaption { display: none; }

    .portfolio-group .image-hover { width: 157px; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .image-hover figcaption { display: none; }

    .portfolio-group .image-hover { width: 108px; }
}

@media only screen and (max-width: 767px) {
    .image-hover figcaption { display: none; }

    .portfolio-group .image-hover { width: 144px; }
}

@media only screen and (max-width: 440px) {
    .image-hover figcaption { display: none; }

    .portfolio-group .image-hover { width: 110px; }
}

/*-----------------------------------------------------------------------------------*/

/* Testimonials */

/*-----------------------------------------------------------------------------------*/

.testimonials p {
    background: #e8e5df;
    border-radius: 5px;
    font-style: italic;
    margin-bottom: 25px;
    padding: 20px;
    position: relative;
}

.testimonials p:after {
    border-left: 0px solid transparent;
    border-left-style: inset;
    border-right: 22px solid transparent;
    border-right-style: inset;
    border-top: 22px solid;
    border-top-color: #e8e5df;
    bottom: -22px;
    content: "";
    display: block;
    height: 0;
    left: 60px;
    position: absolute;
    width: 0;
}

.testimonials .testimonial-info { min-height: 60px; }

.testimonials .testimonial-info span {
    color: #000000;
    font-size: 18px;
}

.testimonials .testimonial-info span em {
    color: #777;
    display: block;
    font-size: 13px;
}

.testimonials .testimonial-info img {
    border: 4px solid #e8e5df;
    float: left;
    height: 60px;
    margin-right: 15px;
    padding: 2px;
    width: 60px;
}

.testimonials .carousel-indicators {
    bottom: 46px;
    left: auto;
    right: 80px;
    width: auto;
}

.testimonials .carousel-indicators li { border-color: #b3b3b3; }

.testimonials-arrows {
    bottom: 57px;
    left: auto;
    position: absolute;
    right: 37px;
    width: auto;
}

.testimonials-arrows a { color: #b3b3b3; }

.testimonials-bg-primary p {
    background: #363539;
    color: #ffffff;
}

.testimonials-bg-primary p:after { border-top-color: #363539; }

.testimonials-bg-light p { background: #ffffff; }

.testimonials-bg-light p:after { border-top-color: #ffffff; }

.testimonials-bg-dark p {
    background: #222124;
    color: #FFFFFF;
}

.testimonials-bg-dark p:after { border-top-color: #222124; }

/*-----------------------------------------------------------------------------------*/

/* Accordions */

/*-----------------------------------------------------------------------------------*/

.panel-group .panel-heading { padding: 0; }

.panel-group .panel-heading h4 {
    color: #555555;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.panel-group .panel-heading a {
    display: block;
    margin: 0;
    padding: 6px 15px;
}

.panel-group .panel-heading a:hover,
.panel-group .panel-heading a:focus { text-decoration: none; }

.panel-group .panel-heading a [class^="icon-"] {
    margin-right: 4px;
    position: relative;
    top: 1px;
}

.panel-group.alternative .panel-heading { background: #4f4e53; }

.panel-group.alternative .panel-heading h4 a { color: #FFFFFF; }

/*-----------------------------------------------------------------------------------*/

/* Tabs */

/*-----------------------------------------------------------------------------------*/

.tabs-dark {
    background-color: #3F3647;
    position: relative;
}

.tabs-dark .nav-tabs {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    margin: 0;
}

.tabs-dark .nav-tabs > li a {
    border: none;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1.5px;
    outline: none;
    padding: 18px 30px;
    text-transform: uppercase;
}

.tabs-dark .tab-content {
    color: rgba(255, 255, 255, 0.7);
    padding: 25px;
}

.tabs-dark .tab-content h3 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}

.tabs-dark .nav-tabs > li.active > a,
.tabs-dark .nav-tabs > li.active > a:hover,
.tabs-dark .nav-tabs > li.active > a:focus {
    -moz-border-colors: none;
    background-color: #3F3647 !important;
    border: none;
    color: #FFFFFF;
    cursor: default;
}

.tabs-dark .nav > li > a:hover,
.tabs-dark .nav > li > a:focus {
    background-color: transparent;
    border: none;
    border-width: 1px !important;
    text-decoration: none;
}

.tabs {
    border-radius: 4px;
    margin-bottom: 35px;
}

.tabs .nav-tabs {
    border-bottom-color: #EEE;
    font-size: 0;
    margin: 0;
}

.tabs .nav-tabs li {
    display: inline-block;
    float: none;
}

.tabs .nav-tabs li a {
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    margin-right: 1px;
}

.tabs .nav-tabs li:last-child a { margin-right: 0; }

.tabs .nav-tabs li a,
.tabs .nav-tabs li a:hover {
    background: #F4F4F4;
    border-bottom: none;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-top: 3px solid #EEE;
    color: #555555;
}

.tabs .nav-tabs li a:hover {
    border-bottom-color: transparent;
    border-top: 3px solid #CCC;
    box-shadow: none;
}

.tabs .nav-tabs li a:active,
.tabs .nav-tabs li a:focus { border-bottom: 0; }

.tabs .nav-tabs li.active a,
.tabs .nav-tabs li.active a:hover,
.tabs .nav-tabs li.active a:focus {
    background: #FFF;
    border-left-color: #EEE;
    border-right-color: #EEE;
    border-top: 3px solid #363539;
    color: #333333;
    outline: none;
}

.tabs .tab-content {
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 0 5px 5px 5px;
    border-top: 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    padding: 15px;
}

.tabs.alternative .nav-tabs li.active a,
.tabs.alternative .nav-tabs li.active a:hover,
.tabs.alternative .nav-tabs li.active a:focus {
    background: #4f4e53;
    color: #ffffff;
}

.nav-pills > li > a {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.08);
    margin: 0 0 10px 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #4f4e53;
    color: #FFFFFF;
    outline: none;
}

.nav-pills > li.active > a [class^="fa-"]:before,
.nav-pills > li.active > a [class*=" fa-"]:before { color: #FFFFFF; }

/*-----------------------------------------------------------------------------------*/

/* Progress Bars */

/*-----------------------------------------------------------------------------------*/

.progress {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.progress-label {
    font-size: 18px;
    padding: 8px 0;
}

.progress-xxs { height: 3px; }

.progress-xs { height: 8px; }

.progress-sm { height: 12px; }

.progress-bar-red { background: #8b2626; }

.progress-bar-blue { background: #43668c; }

.progress-bar-green { background: #649f2b; }

.progress-bar-aqua { background: #86b998; }

.progress-bar-yellow { background: #d0b426; }

.progress-bar-brown { background: #6f6f55; }

.progress-bar-violet { background: #8270a4; }

.progress-bar-orange { background: #ae6926; }

/*-----------------------------------------------------------------------------------*/

/* Panels */

/*-----------------------------------------------------------------------------------*/

.panel-title { font-size: 20px; }

.panel-primary > .panel-heading { border-color: #817f88; }

.panel-primary .panel-footer {
    background: #363539;
    border-color: #817f88;
    color: #FFFFFF;
}

.panel-primary [class^="fa-"]:before,
.panel-primary [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-primary.invert .panel-body {
    background: #4f4e53;
    color: #FFFFFF;
}

.panel-red { border-color: #8b2626; }

.panel-red > .panel-heading {
    background-color: #631b1b;
    border-color: #b33131;
    color: #FFFFFF;
}

.panel-red .panel-footer {
    background: #8b2626;
    border-color: #b33131;
    color: #FFFFFF;
}

.panel-red [class^="fa-"]:before,
.panel-red [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-red.invert .panel-body {
    background: #8b2626;
    color: #FFFFFF;
}

.panel-blue { border-color: #43668c; }

.panel-blue > .panel-heading {
    background-color: #324d6a;
    border-color: #557fad;
    color: #FFFFFF;
}

.panel-blue .panel-footer {
    background: #43668c;
    border-color: #557fad;
    color: #FFFFFF;
}

.panel-blue [class^="fa-"]:before,
.panel-blue [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-blue.invert .panel-body {
    background: #43668c;
    color: #FFFFFF;
}

.panel-green { border-color: #649f2b; }

.panel-green > .panel-heading {
    background-color: #4b7720;
    border-color: #7dc736;
    color: #FFFFFF;
}

.panel-green .panel-footer {
    background: #649f2b;
    border-color: #7dc736;
    color: #FFFFFF;
}

.panel-green [class^="fa-"]:before,
.panel-green [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-green.invert .panel-body {
    background: #649f2b;
    color: #FFFFFF;
}

.panel-aqua { border-color: #86b998; }

.panel-aqua > .panel-heading {
    background-color: #66a67c;
    border-color: #a6ccb4;
    color: #FFFFFF;
}

.panel-aqua .panel-footer {
    background: #86b998;
    border-color: #a6ccb4;
    color: #FFFFFF;
}

.panel-aqua [class^="fa-"]:before,
.panel-aqua [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-aqua.invert .panel-body {
    background: #86b998;
    color: #FFFFFF;
}

.panel-yellow { border-color: #d0b426; }

.panel-yellow > .panel-heading {
    background-color: #a58f1e;
    border-color: #dec64b;
    color: #FFFFFF;
}

.panel-yellow .panel-footer {
    background: #d0b426;
    border-color: #dec64b;
    color: #FFFFFF;
}

.panel-yellow [class^="fa-"]:before,
.panel-yellow [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-yellow.invert .panel-body {
    background: #d0b426;
    color: #FFFFFF;
}

.panel-brown { border-color: #6f6f55; }

.panel-brown > .panel-heading {
    background-color: #52523f;
    border-color: #8c8c6b;
    color: #FFFFFF;
}

.panel-brown .panel-footer {
    background: #6f6f55;
    border-color: #8c8c6b;
    color: #FFFFFF;
}

.panel-brown [class^="fa-"]:before,
.panel-brown [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-brown.invert .panel-body {
    background: #6f6f55;
    color: #FFFFFF;
}

.panel-violet { border-color: #8270a4; }

.panel-violet > .panel-heading {
    background-color: #69588a;
    border-color: #9d8fb8;
    color: #FFFFFF;
}

.panel-violet .panel-footer {
    background: #8270a4;
    border-color: #9d8fb8;
    color: #FFFFFF;
}

.panel-violet [class^="fa-"]:before,
.panel-violet [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-violet.invert .panel-body {
    background: #8270a4;
    color: #FFFFFF;
}

.panel-orange { border-color: #ae6926; }

.panel-orange > .panel-heading {
    background-color: #84501d;
    border-color: #d38234;
    color: #FFFFFF;
}

.panel-orange .panel-footer {
    background: #ae6926;
    border-color: #d38234;
    color: #FFFFFF;
}

.panel-orange [class^="fa-"]:before,
.panel-orange [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.panel-orange.invert .panel-body {
    background: #ae6926;
    color: #FFFFFF;
}

/*-----------------------------------------------------------------------------------*/

/* Social Icons */

/*-----------------------------------------------------------------------------------*/

ul.social-icons {
    list-style: none;
    margin: 0 0 0px 0;
}

ul.social-icons.circle a { border-radius: 50% !important; }

ul.social-icons.rounded a { border-radius: 5px !important; }

ul.social-icons.color .social-facebook a { background-color: #3b5998; }

ul.social-icons.color .social-twitter a { background-color: #48c4d2; }

ul.social-icons.color .social-googleplus a { background-color: #d94a39; }

ul.social-icons.color .social-youtube a { background-color: #f45750; }

ul.social-icons.color .social-github a { background-color: #333333; }

ul.social-icons.color .social-pinterest a { background-color: #cb2027; }

ul.social-icons.color .social-blogger a { background-color: #fb913f; }

ul.social-icons.color .social-dribbble a { background-color: #ef5b92; }

ul.social-icons.color .social-flickr a { background-color: #fd55ad; }

ul.social-icons.color .social-skype a { background-color: #18b7f1; }

ul.social-icons.color .social-digg a { background-color: #2882c6; }

ul.social-icons.color .social-linkedin a { background-color: #71b2d0; }

ul.social-icons.color .social-vimeo a { background-color: #62a0ad; }

ul.social-icons.color .social-yahoo a { background-color: #ab64bc; }

ul.social-icons.color .social-tumblr a { background-color: #3a5976; }

ul.social-icons.color .social-deviantart a { background-color: #d0de21; }

ul.social-icons.color .social-delicious a { background-color: #3274d1; }

ul.social-icons.color .social-rss a { background-color: #fe9900; }

ul.social-icons.border li a {
    background-color: transparent !important;
    background-position: -2px -2px;
    border: 2px solid #363539;
}

ul.social-icons.border li a:hover {
    background-color: #999 !important;
    background-position: -2px -42px !important;
}

ul.social-icons li {
    display: block;
    float: left;
    margin: 0;
    padding: 0 0 0px 0;
}

ul.social-icons li a {
    background-position: 0px -40px;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    /*border-radius: 50px;*/
    margin: 5px;
    opacity: 1;
    padding-bottom: 1px;
    text-indent: -9999px;
    width: 40px;
}

ul.social-icons li a:hover {
    -moz-transition-duration: 0.3s;
    -moz-transition-property: background-color;
    -ms-transition-duration: 0.3s;
    -ms-transition-property: background-color;
    -o-transition-duration: 0.3s;
    -o-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    background-position: 0px -40px !important;
    opacity: 1;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.social-facebook a { background: url(../img/social_icons/facebook.png); }

.social-facebook a:hover { background-color: #3b5998; }

.social-twitter a { background: url(../img/social_icons/twitter.png); }

.social-twitter a:hover { background-color: #48c4d2; }

.social-googleplus a { background: url(../img/social_icons/googleplus.png); }

.social-googleplus a:hover { background-color: #d94a39; }

.social-youtube a { background: url(../img/social_icons/youtube.png); }

.social-youtube a:hover { background-color: #f45750; }

.social-github a { background: url(../img/social_icons/github.png); }

.social-github a:hover { background-color: #333333; }

.social-pinterest a { background: url(../img/social_icons/pinterest.png); }

.social-pinterest a:hover { background-color: #cb2027; }

.social-blogger a { background: url(../img/social_icons/blogger.png); }

.social-blogger a:hover { background-color: #fb913f; }

.social-dribbble a { background: url(../img/social_icons/dribbble.png); }

.social-dribbble a:hover { background-color: #ef5b92; }

.social-flickr a { background: url(../img/social_icons/flickr.png); }

.social-flickr a:hover { background-color: #fd55ad; }

.social-skype a { background: url(../img/social_icons/skype.png); }

.social-skype a:hover { background-color: #18b7f1; }

.social-digg a { background: url(../img/social_icons/digg.png); }

.social-digg a:hover { background-color: #2882c6; }

.social-linkedin a { background: url(../img/social_icons/linkedin.png); }

.social-linkedin a:hover { background-color: #71b2d0; }

.social-vimeo a { background: url(../img/social_icons/vimeo.png); }

.social-vimeo a:hover { background-color: #62a0ad; }

.social-yahoo a { background: url(../img/social_icons/yahoo.png); }

.social-yahoo a:hover { background-color: #ab64bc; }

.social-tumblr a { background: url(../img/social_icons/tumblr.png); }

.social-tumblr a:hover { background-color: #3a5976; }

.social-deviantart a { background: url(../img/social_icons/deviantart.png); }

.social-deviantart a:hover { background-color: #d0de21; }

.social-delicious a { background: url(../img/social_icons/delicious.png); }

.social-delicious a:hover { background-color: #3274d1; }

.social-rss a { background: url(../img/social_icons/rss.png); }

.social-rss a:hover { background-color: #fe9900; }

[class^="social-"] a,
[class*=" social-"] a {
    background-color: #817f88;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*-----------------------------------------------------------------------------------*/

/* Carousel */

/*-----------------------------------------------------------------------------------*/

.carousel-control {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 60px;
    font-size: 16px !important;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    width: 40px;
}

.carousel-control:focus { opacity: 0.5; }

.carousel-control.left,
.carousel-control.icon-prev { left: 10px; }

.carousel-control.left span,
.carousel-control.icon-prev span {
    color: #F4F1EA;
    font-size: 25px;
    margin-top: -13px;
}

.carousel-control.right,
.carousel-control.icon-next { right: 20px; }

.carousel-control.right span,
.carousel-control.icon-next span {
    color: #F4F1EA;
    font-size: 25px;
    margin-top: -13px;
}

.carousel-indicators {
    bottom: 0;
    right: 30px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right { right: 15px; }

.carousel-control .glyphicon-chevron-left { left: 15px; }

.carousel {
    border-radius: 20px;
    overflow: hidden;
}

.carousel.alternative {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 40px 0px 40px;
    /* Changes the position of the indicators */
    /* Changes the colour of the indicators */
}

.carousel.alternative img {
    background: #d1d1d1;
    box-shadow: 0 0 1px #b3b3b3;
    padding: 4px;
}

.carousel.alternative .carousel-control.left,
.carousel.alternative .carousel-control.right { background-image: none; }

.carousel.alternative .carousel-control.left span,
.carousel.alternative .carousel-control.right span {
    background: #b3b3b3;
    border-radius: 50%;
    font-size: 18px;
    padding: 5px;
}

.carousel.alternative .carousel-control.left { left: -12px; }

.carousel.alternative .carousel-control.right { right: -12px !important; }

.carousel.alternative .carousel-indicators {
    bottom: -35px;
    margin-right: -19px;
    right: 50%;
    top: auto;
}

.carousel.alternative .carousel-indicators li { background: #d1d1d1; }

.carousel.alternative .carousel-indicators .active { background: #b3b3b3; }

/*-----------------------------------------------------------------------------------*/

/* Thumbs Gallery */

/*-----------------------------------------------------------------------------------*/

.thumbs-gallery .clear {
    clear: both;
    height: 0px;
    width: 100%;
}

.thumbs-gallery {
    float: left;
    margin: 6px 0 0 0;
}

.thumbs-gallery i {
    background: #000000;
    display: block;
    height: 45px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    width: 45px;
}

.thumbs-gallery .thumbBox {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
    font-size: 0;
    line-height: 0;
    margin: 2px;
    padding: 0px;
    position: relative;
}

.thumbs-gallery .thumbBox img {
    background-color: #4C4B51;
    background-image: none !important;
    border: 1px solid #5C5B58;
    border-radius: 5px;
    padding: 2px;
}

/* SlimBox */

#lbOverlay {
    background-color: #000;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#lbCenter,
#lbBottomContainer {
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}

.lbLoading { background: #ffffff url(../img/loading.gif) no-repeat center; }

#lbImage {
    background-repeat: no-repeat;
    border: 10px solid #fff;
    left: 0;
    position: absolute;
    top: 0;
}

#lbPrevLink,
#lbNextLink {
    display: block;
    outline: none;
    position: absolute;
    top: 0;
    width: 50%;
}

#lbPrevLink { left: 0; }

#lbPrevLink:hover { background: transparent url(../img/prevlabel.gif) no-repeat 0 15%; }

#lbNextLink { right: 0; }

#lbNextLink:hover { background: transparent url(../img/nextlabel.gif) no-repeat 100% 15%; }

#lbBottom {
    border: 10px solid #fff;
    border-top-style: none;
    color: #666;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    text-align: left;
}

#lbCloseLink {
    background: transparent url(../img/closelabel.gif) no-repeat center;
    display: block;
    float: right;
    height: 22px;
    margin: 5px 0;
    outline: none;
    width: 66px;
}

#lbCaption,
#lbNumber { margin-right: 71px; }

#lbCaption { font-weight: bold; }

/*-----------------------------------------------------------------------------------*/

/* Blog */

/*-----------------------------------------------------------------------------------*/

.blog-post-date {
    background-color: #e8e5df;
    border: 0px solid #d7d4cd;
    border-radius: 0px;
    color: #fff;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 2px;
    text-align: center;
    width: 38px;
}

.blog-post-date .month {
    background: #d7d4cd;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
}

.blog-post { margin-bottom: 30px; }

.blog-post-details-item {
    background: #e8e5df;
    border-radius: 5px;
    float: left;
    font-size: 12px;
    margin: 0 5px;
    padding: 3px 10px;
}

.blog-post-details-item a { color: #b3b3b3; }

.blog-item-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.blog-item-header h2 { padding: 20px 0 0; }

.blog-item-header h2 a {
    color: #555555;
    text-decoration: none;
}

.blog-item-footer .blog-author p {
    margin: 0;
    padding: 0;
}

.blog-item-footer .blog-recent-comments .profile-thumb { padding: 10px 20px; }

.blog-item-footer .blog-recent-comments h4 { color: #555555; }

.blog-item-footer .blog-recent-comments .date { color: #b3b3b3; }

.blog-item-footer .blog-recent-comments img {
    border: 5px solid #d1d1d1;
    border-radius: 5px;
}

.blog-item-footer .blog-recent-comments .list-group-item { padding-bottom: 30px; }

.blog-item-footer hr { width: 100%; }

.blog-item-footer h4 {
    margin: 0;
    padding: 0;
}

/* Blog - Tags */

.blog-tags {
    list-style: none;
    margin: 10px 0 20px;
    overflow: hidden;
    padding: 0;
}

.blog-tags li { float: left; }

.blog-tag {
    -webkit-transition: color 0.2s;
    background: #fff;
    border-radius: 3px 0 0 3px;
    box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.15) inset;
    color: #333333;
    display: inline-block;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
    margin: 0 7px 7px 0;
    padding: 0 25px 0 10px;
    position: relative;
    text-decoration: none;
}

.blog-tag::before {
    background: #b3b3b3;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 6px;
}

.blog-tag::after {
    background: #F0EEF3;
    border-bottom: 11px solid transparent;
    border-left: 10px solid #fff;
    border-top: 11px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.blog-tag:hover {
    background-color: #817f88;
    color: white;
}

.blog-tag:hover::after { border-left-color: #817f88; }

/* Recent Posts */

ul.posts-list {
    margin-left: 0;
    padding-left: 0;
}

ul.posts-list li { list-style: none; }

.recent-post { margin-bottom: 20px; }

.recent-post img { padding-right: 10px; }

.recent-post .recent-post-date { font-size: 11px; }

/*-----------------------------------------------------------------------------------*/

/* Pages */

/*-----------------------------------------------------------------------------------*/

/* Services */

.list-services li i {
    font-size: 18px;
    margin-right: 10px;
}

.list-services li {
    font-size: 16px;
    padding: 5px 0px;
}

/* About Me */

.about-me-icons.list-inline > li { padding: 5px 2px; }

.about-me-icons.list-inline > li a:hover { text-decoration: none; }

/* Login */

.login-page {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: 0 0 3px #EEEEEE;
    color: #555555;
    padding: 30px;
}

.login-page label { font-weight: normal; }

/* Sign Up */

.signup-page {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: 0 0 3px #EEEEEE;
    color: #555555;
    padding: 30px;
}

.signup-page label { font-weight: normal; }

/* 404 */

.error-404-page h2 {
    color: #b3b3b3;
    font-size: 160px;
    font-weight: bold;
}

.error-404-page h3 {
    font-size: 30px;
    padding: 0 0 20px;
}

.error-404-page .search-404 {
    background: none repeat scroll 0 0 #dedede;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: 0 0 3px #EEEEEE;
    color: #555555;
    margin: 0 auto 30px;
    padding: 30px;
    width: 360px;
}

.error-404-page .search-404 input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 33px;
    padding: 5px 10px;
    width: 210px;
}

/* Person Details */

.person-details figure {
    background: #FFFFFF;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin: 0;
    overflow: hidden;
}

.person-details figure img {
    display: block;
    max-width: 100%;
    position: relative;
}

.person-details figure figcaption { padding: 15px; }

.person-details figure small { font-size: 55%; }

.person-details-icons {
    background: #363539;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.person-details-icons [class^="fa-"]:before,
.person-details-icons [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.2);
    padding: 0;
}

.person-details-icons a:hover { text-decoration: none; }

.person-details-icons a:hover [class^="fa-"]:before,
.person-details-icons a:hover [class*=" fa-"]:before {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

/* Grid System */

.show-grid [class*="col-md-"] .show-grid-block {
    background-color: #4f4e53;
    border: 1px solid #FFFFFF;
    color: #ffffff;
    display: block;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
}



#demo { display: block; }

#Hr-20 {
    float: left;
    list-style: none;
    margin: 10px;
    margin-left: 280px;
    margin-top: 40px;
    padding: 0;
    padding-bottom: 20px;
    position: relative;
}

#Hr-20 li {
    float: left;
    margin: 0;
    padding: 0;
}

#Hr-20 li a {
    background: #363539;
    border-bottom: 5px solid #363539;
    border-top: 5px solid #363539;
    color: #ffffff;
    display: inline;
    font-size: 18px;
    overflow: hidden;
    padding: 11px 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #bbb;
}

#Hr-20 li a:hover::before {
    border-left: 11.5px solid transparent;
    border-right: 11.5px solid transparent;
    border-top: 11.5px solid #FFCC00;
    content: '';
    height: 0;
    position: absolute;
    right: 43%;
    top: 0;
    width: 0;
}

.item h2 {
    color: #666;
    font-family: "trebuchet ms", sans-serif;
    font-size: 52px;
    margin: 0;
    padding-top: 90px;
}

.item {
    height: 350px !important;
    text-align: center;
}

.carousel {
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    width: 795px;
}

.blok {
    background: #fff;
    border-radius: 8px;
    display: inline-block;
    float: right;
    height: 350px;
    margin-left: -20px;
    margin-top: 20px;
    width: 430px;
}

.blok p {
    font-size: 16px;
    font-weight: bold;
}

.submit {
    -webkit-border-radius: 5px;
    background: #e15a1f;
    border: 0 none;
    border-radius: 5px;
    border-radius: 3px;
    box-shadow: 0 -3px #e15a1f inset;
    color: white;
    display: inline-block;
    float: right;
    font-size: 12pt;
    margin: 5px;
    margin-top: 15px;
    padding: .4em 1em calc(.4em + 3px);
    text-decoration: none;
    text-decoration: none;
    transition: 0.2s;
}

.submit:hover { background: #ff3e00; }

.submit:active {
    background: #ff3e00;
    box-shadow: 0 3px #ff1700 inset;
}

#copyright { text-align: center; }

.bgcolor {
    background-color: #dad8d8;
    height: 408px;
    padding-top: 10px;
    width: 100%;
}

#homeBLog {
    display: inline;
    float: left;
    margin-bottom: 15px;
    padding: 10px 25px;
    width: 100%;
}

.homBlog-area {
    display: inline;
    float: left;
    width: 100%;
}

.homeBlog-content {
    display: inline;
    float: left;
    margin-top: 25px;
    padding-right: 80px;
    width: 100%;
}

.single-Blog {
    display: inline;
    float: left;
    width: 100%;
}

.single-blog-left {
    display: inline;
    float: left;
    width: 18%;
}

.blog-comments-box li {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    color: #aaa;
    display: block;
    float: left;
    padding: 5px;
    text-align: center;
    width: 50px;
}

.blog-comments-box li:last-child { border-bottom: none; }

.blog-comments-box li > h2 {
    font-size: 33px;
    line-height: 32px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog-comments-box li span {
    display: block;
    font-size: 18px;
}

.blog-comments-box li > a {
    color: #aaa;
    text-decoration: none;
}

.single-blog-right {
    display: inline;
    float: right;
    width: 78%;
}

.blog-img {
    display: inline;
    float: left;
    margin-left: 10px;
    width: 100%;
}

.blog-img img { width: 100%; }

figure.blog-figure img {
    -moz-transform: scale3d(1.05, 1.05, 1);
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    -o-transition: opacity 0.35s, -o-transform 0.35s;
    -o-transition: opacity 0.35s, -o-transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    filter: alpha(opacity=95);
    opacity: 0.95;
    transform: scale3d(1.05, 1.05, 1);
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.blog-figure:hover img {
    -moz-transform: scale3d(1, 1, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    filter: alpha(opacity=60);
    opacity: 0.6;
    transform: scale3d(1, 1, 1)
}

.blog-img figure {
    background: none repeat scroll 0 0 #3085a3;
    cursor: pointer;
    float: left;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.blog-img figure img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    position: relative;
}

figure.blog-figure .image-effect::before {
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -moz-transition: -moz-transform 0.6s ease 0s;
    -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -o-transition: -o-transform 0.6s ease 0s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform 0.6s ease 0s;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transition: transform 0.6s ease 0s;
    width: 100%
}

figure.blog-figure:hover .image-effect::before {
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0)
}

.blog-author {
    display: inline;
    float: left;
    padding: 10px 0;
    width: 100%;
}

.blog-author > ul > li {
    color: #aaa;
    display: inline-block;
    padding: 5px;
}

.blog-content {
    display: inline;
    float: left;
    width: 100%;
}

.blog-content p { word-wrap: break-word; }

.blog-content > h2 {
    font-size: 18px;
    line-height: 25px;
}

.blog-content .readmore_area a {
    font-size: 14px;
    margin-left: 0;
}

.subm { margin-left: 85px; }

.blog-content .readmore_area a::before { padding: 8px 13px; }

.blog-content .readmore_area a span { padding: 8px 13px; }

.blog-content .readmore_area { margin-top: 25px; }

.note {
    color: black;
    display: inline-block;
    overflow: hidden;
    overflow: hidden;
    width: 450px;
}

.note p {
    margin-left: 35px;
    margin-top: -30px;
}

.image-hover:hover {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.image-hover { max-height: 365px; }

.specialshare {
    height: 300px;
    width: 100%;
}

.specialshare img { margin-top: 8px; }

.section-heading, .specialshare { text-align: center; }

.specialshare h2 { margin-top: 10px; }

.section-heading h2, .specialshare h2 {
    background: #e15a1f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    position: relative;
    text-align: center;
}

.view {
    cursor: default;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.view .mask, .view .content {
    height: 340px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 560px;
}

.view img { position: relative; }

.view h2 {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 17px;
    margin: 20px 0 0 0;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.view p {
    color: #fff;
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    padding: 10px 20px 20px;
    position: relative;
    text-align: center;
}

.view a.info {
    -moz-box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    background: #000;
    box-shadow: 0 0 1px #000;
    color: #fff;
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.view a.info:hover {
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.view-first img {
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.view-first .mask {
    -moz-transition: all 0.4s ease-in-out;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    background-color: rgba(219, 127, 8, 0.7);
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    -moz-transform: translateY(-100px);
    -moz-transition: all 0.2s ease-in-out;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-transform: translateY(-100px);
    -ms-transition: all 0.2s ease-in-out;
    -o-transform: translateY(-100px);
    -o-transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(-100px);
    -webkit-transition: all 0.2s ease-in-out;
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}

.view-first p {
    -moz-transform: translateY(100px);
    -moz-transition: all 0.2s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-transform: translateY(100px);
    -ms-transition: all 0.2s linear;
    -o-transform: translateY(100px);
    -o-transition: all 0.2s linear;
    -webkit-transform: translateY(100px);
    -webkit-transition: all 0.2s linear;
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.2s linear;
}

.view-first:hover img {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.view-first a.info {
    -moz-transition: all 0.2s ease-in-out;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    -moz-transform: translateY(0px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    filter: alpha(opacity=100);
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.capt {
    color: black;
    font-size: 18px;
}

.styled-button-1 {
    -moz-border-radius: 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    background-color: #FA2;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #333;
    cursor: pointer;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    height: 56px;
    margin-left: 70px;
    margin-top: 5px;
    text-shadow: #FE6 0 1px 0;
    width: 350px;
}

.display { display: block; }

.form-top {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0 25px 15px 25px;
    text-align: left;
}

.form-top-left {
    padding-top: 25px;
    width: 75%;
}

.disp {
    margin-left: 70px;
    text-align: center;
}

.form-top-left h3 {
    color: #fff;
    margin-top: 0;
}

.form-top-left p {
    color: #fff;
    opacity: 0.8;
}

.form-top-right {
    color: #fff;
    float: left;
    float: right;
    font-size: 76px;
    line-height: 100px;
    margin-top: -70px;
    opacity: 0.3;
    padding-top: 5px;
    text-align: right;
    width: 25%;
}

.form-bottom {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px 25px;
    text-align: left;
}

.form-bottom form .input-error { border-color: #19b9e7; }

input[type="text"],
textarea, input[type="password"],
textarea.form-control {
    -moz-border-radius: 4px;
    -moz-box-shadow: none;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: none;
    -webkit-transition: all .3s;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: none;
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    transition: all .3s;
    vertical-align: middle;
}

textarea,
textarea.form-control {
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type="text"]:focus,
textarea:focus,
textarea.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #fff;
    border: 3px solid #fff;
    box-shadow: none;
    outline: 0;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

button.btn {
    -moz-border-radius: 4px;
    -moz-box-shadow: none;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: none;
    -webkit-transition: all .3s;
    background-color: #FA2;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    text-shadow: none;
    transition: all .3s;
    vertical-align: middle;
}

.textarea {
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    height: 200px;
    padding: 8px;
    resize: none;
    width: 500px;
}

.form-box { left: 28%; }

.btn-margin { margin-left: 120px; }

.log { display: inline-block; }

.form-horizontal {
    display: inline-block;
    width: 500px;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.table-title h2 { text-align: center; }

/*** Table Styles **/

.table-fill {
    background: white;
    border-collapse: collapse;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 25px;
}

.table-fill th {
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    width: 200px;
}

.table-fill th:first-child { border-top-left-radius: 3px; }

.table-fill th:last-child {
    border-right: none;
    border-top-right-radius: 3px;
}

.table-fill tr {
    border-bottom: 1px solid #C1C3D1;
    border-top: 1px solid #C1C3D1;
    color: #666B85;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-fill tr:first-child { border-top: none; }

.table-fill tr:last-child { border-bottom: none; }

.table-fill tr:nth-child(odd) td { background: #EBEBEB; }

.table-fill tr:last-child td:first-child { border-bottom-left-radius: 3px; }

.table-fill tr:last-child td:last-child { border-bottom-right-radius: 3px; }

.table-fill td {
    background: #FFFFFF;
    border-right: 1px solid #C1C3D1;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.table-fill td:last-child { border-right: 0px; }

.table-fill th.text-left { text-align: center; }

.table-fill th.text-center { text-align: center; }

.table-fill td.text-left { text-align: center; }

.table-fill td.text-center { text-align: center; }


.fill { background: #1b1e24; }

.fill h4 { color: #D5DDE5; }

#pricing-table {
    margin: 100px 190px;
    text-align: center;
    width: 1000px; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    float: left;
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    padding: 20px;
    position: relative;
    text-shadow: 0 1px rgba(255, 255, 255, .8);
    width: 250px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
}

#pricing-table #most-popular {
    -moz-border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    border-radius: 5px;
    border-width: 3px;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    padding: 30px 20px;
    top: -13px;
    z-index: 2;
}

#pricing-table .plan:nth-child(1) {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

#pricing-table .plan:nth-child(4) {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

/* --------------- */

#pricing-table h3 {
    background-color: #eee;
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    font-size: 20px;
    font-weight: normal;
    margin: -20px -20px 50px -20px;
    padding: 20px;
}

#pricing-table #most-popular h3 {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background-color: #ddd;
    background-image: -moz-linear-gradient(#eee, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: -o-linear-gradient(#eee, #ddd);
    background-image: -ms-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    border-radius: 5px 5px 0 0;
    margin-top: -30px;
    padding-top: 30px;
}

#pricing-table .plan:nth-child(1) h3 {
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

#pricing-table .plan:nth-child(4) h3 {
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

#pricing-table h3 span {
    -moz-border-radius: 100px;
    -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    -webkit-border-radius: 100px;
    -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777;
    display: block;
    font: bold 25px/100px Georgia, Serif;
    height: 100px;
    margin: 10px auto -65px;
    width: 100px;
}

/* --------------- */

#pricing-table ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

/* --------------- */

#pricing-table .signup {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    background-color: #72ce3f;
    background-image: -moz-linear-gradient(#72ce3f, #62bc30);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));
    background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
    background-image: -o-linear-gradient(#72ce3f, #62bc30);
    background-image: -ms-linear-gradient(#72ce3f, #62bc30);
    background-image: linear-gradient(#72ce3f, #62bc30);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    color: #fff;
    display: inline-block;
    font: bold 14px Arial, Helvetica;
    margin: 20px 0 0 0;
    padding: 8px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

#pricing-table .signup:hover {
    background-color: #62bc30;
    background-image: -moz-linear-gradient(#62bc30, #72ce3f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));
    background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
    background-image: -o-linear-gradient(#62bc30, #72ce3f);
    background-image: -ms-linear-gradient(#62bc30, #72ce3f);
    background-image: linear-gradient(#62bc30, #72ce3f);
}

#pricing-table .signup:active, #pricing-table .signup:focus {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    background: #62bc30;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    top: 2px;
}

/* --------------- */

.clear:before, .clear:after {
    content: "";
    display: table
}

.clear:after { clear: both }

.clear { zoom: 1 }

.post {
    display: inline-block;
    height: 260px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-top: 40px;
    overflow: hidden;
    text-align: center;
    width: 360px;
}

.hidd { opacity: 0; }

.visibl { opacity: 1; }

.scrollup {
    background: url(/Images/backtotop.png) no-repeat;
    bottom: 50px;
    display: none;
    height: 70px;
    position: fixed;
    right: 100px;
    width: 70px;
}

.button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    background: none;
    border: none;
    color: inherit;
    display: block;
    float: left;
    margin: 1em;
    max-width: 250px;
    min-width: 150px;
    padding: 1em 2em;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

.button:focus { outline: none; }

.button > span { vertical-align: middle; }

.button.button--wapasha {
    -webkit-transition: background-color 0.3s, color 0.3s;
    background: #37474f;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.button--round-l { border-radius: 40px; }

.button--text-thick { font-weight: 600; }

.button--wapasha.button--inverted {
    background: #fff;
    color: #37474f;
}

.button--wapasha::before {
    -webkit-transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    border: 2px solid orange;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale3d(0.6, 0.6, 1);
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    width: 100%;
    z-index: -1;
}

.button--wapasha.button--inverted::before { color: orange; }

.button--wapasha:hover {
    background-color: #fff;
    color: orange;
}

.button--wapasha.button--inverted:hover {
    background-color: #37474f;
    color: orange;
}

.button--wapasha:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.well {
    margin: 0 auto;
    margin-bottom: -35px;
    margin-top: 25px;
    width: 40%;
}

#header .navbar * { box-shadow: none !important; }

#header .navbar .label {
    border-radius: 15px !important;
    font-size: 14px;
    margin: 0px 2px;
    padding: 4px 8px;
}

#header .navbar {
    background: none !important;
    border: 0px !important;
    margin-top: 12px;
    right: 0;
}

#header .navbar i { margin-right: 3px; }

#header .navbar .nav > li > a {
    border-bottom: 0px !important;
    color: black !important;
    font-size: 16px !important;
    font-weight: bold;
    margin-top: 0px !important;
}

#header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus { background: none !important; }

#header .navbar-collapse { border: 0px !important; }

#header .navbar-header {
    margin: 0 auto;
    width: 43px;
}

#header .navbar-header button {
    color: #fff !important;
    padding: 5px 10px;
}

#header .navbar-toggle {
    background-color: #1dc1da !important;
    border: 1px solid #0fa6bc !important;
}

#header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background-color: #0fa6bc !important;
    border: 1px solid #0fa6bc !important;
}

#header .dropdown-menu {
    background: #fff !important;
    border-radius: 6px !important;
}

#header .dropdown-menu li {
    border-bottom: 1px dashed #f3f3f3;
    font-size: 15px;
    padding: 6px 15px;
}

#header .dropdown-menu li a {
    color: #888;
    padding-left: 0px !important;
}

#header .dropdown-menu li:last-child { border: 0px; }

#header .dropdown-menu li a:hover {
    background: none !important;
    border: 0px !important;
    color: #666 !important;
}

#header .dropdown-big { min-width: 300px; }

#header .dropdown-big .dropdown-head {
    background: #fcfcfc;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -5px;
    padding: 7px 15px;
}

#header .dropdown-big .dropdown-title {
    color: #999;
    font-size: 13px;
    font-weight: bold;
}

#header .dropdown-big .dropdown-body { background: #fff; }

#header .dropdown-big .dropdown-foot {
    background: #fcfcfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: -5px;
    padding: 7px 15px;
}

#header .dropdown-big .dropdown-foot a { color: #888; }

#header .dropdown-big .dropdown-foot a:hover {
    border-bottom: 0px;
    color: #555;
}

#header .navbar-nav .caret {
    border-bottom-color: black !important;
    border-top-color: black !important;
}

#header .navbar-nav > .open > a .caret, .header .navbar-nav > .open > a:hover .caret, .header .navbar-nav > .open > a:focus .caret {
    border-bottom-color: black !important;
    border-top-color: black !important;
}

#nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    left: 0;
    position: absolute;
    right: 0;
    top: 79%;
    width: 100%;
}

#nav > a { display: none; }

#nav li { position: relative; }

#nav li a {
    color: #fff;
    display: block;
}

#nav li a:active { background-color: #c00 !important; }

#nav span:after {
    border: 0.313em solid transparent; /* 5 */
    border-bottom: none;
    border-top-color: #efa585;
    content: '';
    display: inline-block;
    height: 0;
    position: relative;
    right: -0.313em; /* 5 */
    vertical-align: middle;
    width: 0;
}

/* first level */

#nav > ul {
    background-color: #e15a1f;
    height: 3.75em; /* 60 */
}

#nav > ul > li {
    float: left;
    height: 100%;
    list-style-type: none;
    width: 15%;
}

#nav > ul > li:first-child { margin-left: 15px; }

#nav > ul > li > a {
    font-size: 1.5em; /* 24 */
    height: 100%;
    line-height: 2.5em; /* 60 (24) */
    text-align: center;
}

#nav > ul > li:not(:last-child) > a { border-right: 1px solid #cc470d; }

#nav > ul > li:hover > a, #nav > ul:not(:hover) > li.active > a { background-color: #cc470d; }

/* second level */

#nav li ul {
    background-color: #cc470d;
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    z-index: 1;
}

#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
}

#nav li:not(:first-child):hover ul { left: -1px; }

#nav li ul a {
    border-top: 1px solid #e15a1f;
    font-size: 1.25em; /* 20 */
    padding: 0.75em; /* 15 (20) */
}

#nav li ul li a:hover, #nav li ul:not(:hover) li.active a { background-color: #e15a1f; }

@media only screen and (max-width: 62.5em) /* 1000 */ {
    #nav {
        margin: 0;
        position: static;
        width: 100%;
    }
}

@media only screen and (max-width: 40em) /* 640 */ {
    html {
        font-size: 75%; /* 12 */
    }

    #nav {
        left: auto;
        position: relative;
        top: auto;
    }

    #nav > a {
        background-color: #e15a1f;
        height: 3.125em; /* 50 */
        position: relative;
        text-align: left;
        text-indent: -9999px;
        width: 3.125em; /* 50 */
    }

    #nav > a:before, #nav > a:after {
        border: 2px solid #fff;
        content: '';
        left: 25%;
        position: absolute;
        right: 25%;
        top: 35%;
    }

    #nav > a:after { top: 60%; }

    #nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type { display: block; }

    /* first level */

    #nav > ul {
        display: none;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    #nav:target > ul { display: block; }

    #nav > ul > li {
        float: none;
        width: 100%;
    }

    #nav > ul > li > a {
        height: auto;
        padding: 0 0.833em; /* 20 (24) */
        text-align: left;
    }

    #nav > ul > li:not(:last-child) > a {
        border-bottom: 1px solid #cc470d;
        border-right: none;
    }

    /* second level */

    #nav li ul {
        padding: 1.25em; /* 20 */
        padding-top: 0;
        position: absolute;
        z-index: 1;
    }
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font: bold 16px sans-serif;
    margin-top: 80px;
    padding: 55px 50px;

    text-align: left;
    width: 100%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left { width: 40%; }

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span { color: #5383d3; }

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    color: inherit;
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center { width: 35%; }

.footer-distributed .footer-center i {
    background-color: #33383b;
    border-radius: 50%;
    color: #ffffff;
    font-size: 25px;
    height: 38px;
    line-height: 42px;
    margin: 10px 15px;
    text-align: center;
    vertical-align: middle;
    width: 38px;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    color: #ffffff;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.footer-distributed .footer-center p span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right { width: 20%; }

.footer-distributed .footer-company-about {
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons { margin-top: 25px; }

.footer-distributed .footer-icons a {
    background-color: #33383b;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;

    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    margin-right: 3px;

    text-align: center;
    width: 35px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed { font: bold 14px sans-serif; }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        margin-bottom: 40px;
        text-align: center;
        width: 100%;
    }

    .footer-distributed .footer-center i { margin-left: 0; }
}

.comments {
    margin: 0 auto;
    margin-top: 25px;
    width: 400px;
}

.comment {
    margin-bottom: 20px;
    width: 100%;
}

.comment p { margin: 0 0 10px 0; }

.dialog {
    background: #fff;
    border-radius: 3px;
    color: #222;
    margin-left: 20px;
    padding: 20px;
    position: relative;
}

.dialog::after {
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fff;
    border-top: 8px solid transparent;
    content: '';
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 15px;
    width: 0;
}

.btn-buy {
    -moz-border-radius: 0em;
    -webkit-border-radius: 0em;
    background: #388582;
    border: none;
    border-bottom: 2px solid #388582;
    border-radius: 0em;
    color: #fff;
    display: block;
    float: right;
    height: 35px;
    margin-right: -20px;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, .2);
}

.btn-buy:after, .btn-buy:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: 100%;
    position: absolute;
    top: 30%;
    width: 0;
}

.btn-buy:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #388582;
    border-width: 24px;
    margin-top: -16px;
}

.btn-buy:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #388582;
    border-width: 20px;
    margin-top: -14px;
}

.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active,
.btn-buy.active,
.open .dropdown-toggle.btn-buy {
    background: #388582;
    border-bottom: 2px solid #388582;
    color: #fff;
    outline: none;
}

.btn-buy:hover:after,
.btn-buy:focus:after,
.btn-buy:active:after,
.btn-buy.active:after { border-left-color: #388582; }

.btn-buy:active,
.btn-buy.active,
.open .dropdown-toggle.btn-buy {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #388582;
    box-shadow: none;
    color: #fff;
}

.btn-buy:active:after,
.btn-buy.active:after,
.open .dropdown-toggle.btn-buy:after { border-left-color: #388582; }

.block {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: block;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 1em;
    width: 60%;
}

.block img {
    float: left;
    margin: 7px 7px 7px 0;
}

.middle { margin-left: 47%; }

.right { float: right; }


.blokk {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: block;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 1em;
    width: 70%;
}

.commentform {
    margin-left: 420px;
    margin-top: 50px;
    width: 250px;
}


#form-main {
    padding-top: 0px;
    width: 100%;
}

#form-div {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: rgba(72, 72, 72, 0.4);
    left: 50%;
    margin: 0 auto;
    margin-bottom: -60px;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    width: 450px;
}

.feedback-input {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fbfbfb;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 13px 13px 13px 54px;
    padding-left: 50px !important;
    width: 100%;
}

.focused {
    border: #30aed6 solid 3px;
    color: #30aed6;
}

#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-position: 11px 8px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}



#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-position: 11px 8px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}



#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-position: 11px 8px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
    width: 100%;
}

input:hover, textarea:hover,
input:focus, textarea:focus { background-color: white; }

#button-blue {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-color: #e15a1f;
    border: #fbfbfb solid 4px;
    color: white;
    cursor: pointer;
    float: left;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: -4px;
    padding-bottom: 22px;
    padding-top: 22px;
    transition: all 0.3s;
    width: 100%;
}

#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #e15a1f;
}

.submite:hover { color: #e15a1f; }

.ease {
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -webkit-transition: .3s ease;
    background-color: #fbfbfb;
    height: 74px;
    transition: .3s ease;
    width: 0px;
}

.submite:hover .ease {
    background-color: white;
    width: 100%;
}

@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-left: 0;
        margin-right: 3%;
        padding-left: 3%;
        padding-right: 3%;
        width: 88%;
    }
}

.form-top { margin-top: 25px; }

.form-bottom { margin-bottom: -35px; }

.btnkey {
    margin-left: 160px !important;
    margin-top: 25px !important;
    width: 140px;
}